.home_services__content__l_a {
  width: 170px; 
  height: 30px; 
  background: #aaaaaa; 
  display: block; 
  text-align: center; 
  line-height: 30px;
}
.home_services__content__l_a_active {
  background: #e25d39;
}

.home_services__title {
  right: 10%;
  text-align: right;
}