/*@font-face {
    font-family: 'HelveticaNeueCyrMedium';
    src: url('../files/fonts/HelveticaNeueCyrBold.eot');
    src: url('../files/fonts/HelveticaNeueCyrBold.eot') format('embedded-opentype'),
    url('../files/fonts/HelveticaNeueCyrBold.woff') format('woff'),
    url('../files/fonts/HelveticaNeueCyrBold.ttf') format('truetype'),
    url('../files/fonts/HelveticaNeueCyrBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}*/


*, a:focus {outline:none;}
img {display:block;}
a {color:inherit;}
a:hover {text-decoration:none;}
.mobile * {-webkit-backface-visibility:hidden;}
h1, h2, h3 {margin:0;padding:0;font-weight:normal;line-height:110%;}
ul, ol {padding-left:20px;}
.jspPane>div>*:first-child {margin-top:115px;}
html {width:100%;height:100%;}

.css_ani{-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
#body_frame,#centrer1,#centrer2,.bg_img,.load_frame,.scroll_frame,#preloader_frame,.rotate_help_frame,.pano_place.off:after,.map_place,.popup_overlay,.plans_map_cont,.plans_map,.floor_frame,.floor_map_cont,.floor_map,.apart_img,.div_100{position:absolute;height:100%;width:100%;top:0;left:0;}
#body_frame,.load_frame{overflow:hidden;}
#bg_video{display:none;}
#bg_video,#bg_video>*{width:100% !important;height:100% !important;}
#preloader_frame{z-index:10000;background:url('/images/blank.gif');display:none;}
.preloader_img,#fancybox-loading {position:absolute;width:31px;height:31px;padding:10px;margin:-26px;top:50%;left:50%;border-radius:5px;background-color:#464646;background-image:url('/images/loader3.gif');background-repeat:no-repeat;background-position:center center;}
.preloader_img{background-image:none;}
.popup_overlay,.fancybox-default-overlay{}
.popup_overlay{display:none;z-index:8010;}
.close_btn,a.fancybox-close{position:absolute;width:36px;height:36px;cursor:pointer;}
.small_close{width:33px;height:33px;background-position:-824px -5px;}
.browser_scroll{overflow:auto;}
.p_item .div_100{width:110%;height:110%;left:-5%;top:-5%;}
::-webkit-input-placeholder{color:#FFF;}
:-moz-placeholder{color:#FFF;}
::-moz-placeholder{color:#FFF;}
:-ms-input-placeholder{color:#FFF;}