html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin:0;padding:0;border:0;font-size:100%;-ms-text-size-adjust:100%;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {display:block;}
audio,canvas,video {display:inline;zoom:1;}
audio:not([controls]) {display:none;height:0;}
[hidden] {display:none;}
button,input,select,textarea {font-family:sans-serif;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display:block;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after {content:''; content:none;}
table {border-collapse:collapse; border-spacing:0;}
a:focus {outline:thin dotted;}
a:active,a:hover {outline:0;}
abbr[title] {border-bottom:1px dotted;}
b,strong {font-weight:bold;}
p,pre {margin:1em 0;}
code,kbd,pre,samp {font-family:monospace, serif;font-size:1em;}
pre {white-space:pre-wrap;word-wrap:break-word;}
q {quotes:none;}
q:before,q:after {content:none;}
small {font-size:80%;}
sub,sup {font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup {top:-.5em;}
sub {bottom:-.25em;}
dl,menu,ol,ul {margin:1em 0;}
dd {margin:0;}
menu,ol,ul {padding:0;}
nav ul,nav ol {list-style:none;list-style-image:none;}
img {border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root) {overflow:hidden;}
figure {margin:0;}
form {margin:0;}
fieldset {border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em;}
legend {border:0;white-space:normal;margin-left:-7px;padding:0;}
button,input,select,textarea {font-size:100%;vertical-align:middle;margin:0;}
button,input {line-height:normal;}
button,html input[type=button],
input[type=reset],input[type=submit] {-webkit-appearance:button;cursor:pointer;overflow:visible;}
button[disabled],input[disabled] {cursor:default;}
input[type=checkbox],input[type=radio] {box-sizing:border-box;height:13px;width:13px;padding:0;}
input[type=search] {-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner {border:0;padding:0;}
textarea {overflow:auto;vertical-align:top;}
table {border-collapse:collapse;border-spacing:0;}

body{margin:0;font-family:Helvetica, Arial, sans-serif;font-size:14px;position:relative;color:#000;min-width:1165px;min-height:799px;width:100%;height:100%;line-height:1.5;background-color:#f3eaf8; background-repeat:repeat;}
*,a:focus{outline:none}
img {display:block}
a{color:inherit}
a:hover{text-decoration:none}
.mobile *{-webkit-backface-visibility:hidden}
h1,h2,h3{margin:0;padding:0;font-weight:normal;line-height:110%}
ul,ol{padding-left:20px}
.jspPane>div>*:first-child{margin-top:115px}
html{width:100%;height:100%}

.css_ani{-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease}
#body_frame,#centrer1,#centrer2,.bg_img,.load_frame,.scroll_frame,.popup_overlay,.div_100{position:absolute;height:100%;width:100%;top:0;left:0}
#body_frame,.load_frame{overflow:hidden}
#bg_video{display:none}
#bg_video,#bg_video>*{width:100%!important;height:100%!important}
.popup_overlay{display:none;z-index:8010}
.close_btn,a.fancybox-close{position:absolute;width:36px;height:36px;cursor:pointer}
.small_close{width:33px;height:33px;background-position:-824px -5px}
.browser_scroll{overflow:auto}
.p_item .div_100{width:110%;height:110%;left:-5%;top:-5%}
::-webkit-input-placeholder,::-moz-placeholder,:-moz-placeholder,:-ms-input-placeholder{color:#FFF}
#banner{background:url('/images/banner.png')0 0 no-repeat;width:292px;height:124px;position:absolute;bottom:235px;right:20px;text-indent:-9999px;z-index:1000}
/* typography */
h1{font-size:2em;margin:.67em 0;}
h2{font-size:1.5em;margin:.83em 0;}
h3{font-size:1.17em;margin:1em 0;}

/* slide out menu */
#nav{font-family:Helvetica, Arial, sans-serif;color:#fefefe;width:578px;height:47px;margin:0 0 12px 0;padding:13px 100px 0 0;display:block;text-transform:uppercase;font-size:26px;text-align:right;overflow:hidden;zoom:1;cursor:pointer;-webkit-transition:ease 0.3s;-moz-transition:ease 0.3s;-o-transition:ease 0.3s;-ms-transition:ease 0.3s;transition:ease 0.3s}
#nav::after{content:none;background:none}
#nav:hover{color:#fff;opacity:0.7}
#nav span{float:right;display:block;top:0;right:0;width:51px;margin-top:0;padding:0 15px 15px 20px;color:#fff;font-size:26px;-webkit-transition:ease 0.3s;-moz-transition:ease 0.3s;-o-transition:ease 0.3s;-ms-transition:ease 0.3s;transition:ease 0.3s}
/* end of slide out menu */

/* links/buttons */
a,a:hover,a.active,div:hover,a span:hover,.tab-buttons span:hover{-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out}
a{font-family:Helvetica, Arial, sans-serif;font-size:13px;line-height:1;color:#fefefe;text-decoration:none}
a.button{font-size:14px;color:#fff;width:171px;text-align:center;position:relative;display:block;text-decoration:none}

.center{width:960px;height:auto;margin:0 auto}
.height{min-height:799px}
.nav {position:absolute!important;margin:0!important;width:150px !important;height:200px !important;left:-9999px;bottom:-9999px;content:"";z-index:0}

/* all pages */
div.item-page {min-height:799px}
#mask{position:absolute;background:url('/images/mask.png') center center no-repeat;width:100%;height:100%;top:0;left:0;background-size:cover;z-index:2;}
#logo,#logo-gray{position:absolute;float:left;background:url('/images/sprite.png') 0 0 no-repeat;width:207px;height:59px;top:40px;left:60px;text-indent:-9999px;z-index:100}
#logo-gray{background-position:-225px 0px!important}

#contacts {position:absolute; width:394px; height:124px; top:0px; right:0px; z-index:100;}
#contacts-navi {position:absolute; width:126px; height:126px; left:0; top:0;}
a#mail-us {background-color:#cf4528;}
a#phone {background-color:#c14126;}
a#mail-us, a#phone {float:left; width:64px; height:62px; text-indent:-9999px;}
a#mail-us:hover, a#phone:hover {opacity:0.7;}
a#mail-us>span {float:left; width:40px; height:28px; background-position:-43px -67px !important; margin:13px 0 0px 14px;}
a#phone>span {float:left; width:36px; height:30px; background-position:-0px -109px !important; margin:16px 0 0px 13px;}
#contacts-content {position:absolute; background-color:#683786; width:268px; height:126px; top:0px; right:0px; color:#fefefe; text-align:right; padding:8px 52px 0 0;}
p.phone {font-size:18px; font-family:Verdana; letter-spacing:-1px; margin-top:-10px;}
p.phone span {font-weight:bold;}
.contacts-article {position:absolute; width:80px; top:50px; right:-13px; height:18px; color:#fefefe; text-align:center;-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);}
.contacts-article p {margin:0;}
#shares-home {position:absolute;background-color:#eb3d01;width:450px;height:200px;left:0;bottom:76px;padding:12px 30px 0px 55px;text-align:right;z-index:10;}
#shares-home h2 {font-size:40px; color:#fefefe; margin:0 0 10px 0;}
#shares-home p {font-size:18px; color:#fefefe; margin:0; line-height:120%;}
#shares-home p span {font-size:30px; line-height: 130%;}
#shares-about {position:absolute; background-color:#eb3d01; width:540px; height:154px; right:0px; bottom:44px; padding:18px 0 0 40px; z-index:100;}
#shares-about h2 {font-size:24px; color:#fefefe; margin:0 0 10px 0;}
#shares-about p {font-size:18px; color:#fefefe; margin:0; line-height:120%;}
#shares-about p span {font-size:30px; line-height:130%;}
.copyrights {position:absolute; width:240px; height:25px; bottom:10px; right:37px; z-index:100;}
.copyrights a {color:#fefefe;}
/* */

/* homepage */
#home {position:absolute; width:100%; height:100%; top:0; left:0;}
#home-content{position:absolute; background:url('/images/sprite.png') -480px -535px no-repeat; width:610px; height:510px; top:139px; left:35px; z-index:200;}
.logotype {position:absolute; background:url('/images/sprite.png') 0 -363px no-repeat; left:50px; top:200px; width:500px; height:158px; text-indent:-9999px; z-index:100;}
span#heat{float:left;width:37px;height:48px;background-position:-311px -747px !important;margin:3px 0 12px 0px;}
#otoplenie {position:absolute; background-color:#3f72d0; width:428px; height:200px; right:0px; bottom:39px; z-index:100; color:#fefefe; padding:32px 100px 0 50px; line-height:120%;}
#otoplenie h2{font-size:18px;color:#fefefe;margin:0;padding-left:50px;}
#project-docs,#project-docs-gray{position:absolute;z-index:100;}
#project-docs-gray{bottom:25px;left:260px;color:#969696;}
#project-docs{bottom:25px;left:260px;color:#fff;}
#best-conditions{position:absolute;width:126px;height:126px; top:171px; right:-126px; background-color:#cf4528;margin:0;padding:79px 15px 0 15px;line-height:110%; font-family:Helvetica; font-size:12px; text-transform:uppercase; color:#fff; text-align:center; z-index:210}
#best-conditions>span{position:absolute;background:url('/images/sprite.png') -115px -600px no-repeat;width:45px;height:44px;top:20px;left:39px;}
.banner,.metrika{width:0;height:0;position:absolute;top:-9999px;}
/* */

/* about */
#about {position:absolute; width:100%; height:100%; top:0; left:0; z-index:1;}
#about>#about-content>.navi>a, #conditions-purchase-navi>a, #conditions-purchase-navi-right>a, #about-builder-navi>a, a#shares-button {float:left; width:126px; height:126px; font-size:12px; text-transform:uppercase; text-align:center; line-height:130%;}
#about-content>.navi>#territory-button{background-color:#ffbc01;}
.lines>p {color:#394049;font-family:Verdana;}
.lines>h2 {color:#394049;font-family:Verdana;text-transform:uppercase;margin-bottom:1.7em;line-height:1.2em;}
#about-content {position:absolute; width:592px; height:504px; top:125px; left:35px; bottom:0;}
#about-content>.navi {position:absolute; width:252px; height:504px; top:0; right:-126px;}
#about-content>.content {position:absolute; width:466px; height:504px; top:0; left:0; background-color:rgba(252,252,252, .75)}
#about-content>.content>.lines {background:url('/images/sprite.png') -480px -534px no-repeat; width:466px; height:504px; left:0; top:0; padding:65px 70px 0 70px;}
#about-right {position:absolute; width:550px; height:100%; top:0; right:0; bottom:0;}
#about>a>span, a#mail-us>span, a#phone>span, a#advantages-button>span, a#territory-button>span, a.app-home>span, a.app>span, span#heat, #shares-button>span, #gallery-button>span {background:url('/images/sprite.png') no-repeat;}
a#advantages-button {background-color:#94c604;}
a#advantages-button>span {float:left; width:39px; height:42px; background-position:-42px -193px !important; margin:28px 0 20px 43px;}
a#territory-button {background-color:#d04526;}
a#territory-button>span {float:left; width:46px; height:45px; background-position:-89px -105px !important; margin:28px 0 10px 43px;}
#app,#app-home{position:absolute; right:66px; bottom:239px; width:126px; height:126px; padding-left:5px; font-size:12px; text-transform:uppercase; text-align:center; line-height:130%; background-color:#f59f14; color:#fefefe; cursor:pointer; z-index:100;}
#app span,#app-home span{float:left; width:31px; height:42px; background:url('/images/sprite.png') no-repeat; background-position:-51px -145px !important; margin:28px 0 10px 42px;}
#app:hover,#app-home:hover,#mort-home:hover{opacity:0.8;}
#app-home{right:0!important;bottom:0!important;}
#mort-home{position:absolute;width:126px;height:126px;top:0;left:0;padding-top:79px;background-color:#94c604;font-family:Helvetica;font-size:12px;text-transform:uppercase;color:#fff;text-align:center;cursor:pointer;z-index: 201;}
#mort-home>span{position:absolute;background:url('/images/sprite.png') -64px -296px no-repeat;width:60px;height:47px;left:32px;bottom:54px;}
#home-links{position:relative;width:253px;height:252px;margin:522px auto 0 auto;}
#gallery-button {background-color:#ba2748;}
#gallery-button>span {float:left; width:43px; height:34px; background-position:0 -67px !important; margin:31px 35px 20px 43px;}
a#shares-button {position:absolute; background-color:#d04526; bottom:198px; right:50px; padding:0 29px; color:#fefefe; z-index:200;}
a#shares-button>span {float:left; width:56px; height:38px; background-position:-165px -605px !important; margin:28px 35px 18px 5px;}
a#advantages-button:hover, a#territory-button:hover, a#app:hover, #gallery-button:hover, .navi>a:hover, a#sbrf:hover, a#shares-button:hover, a#about-builder-button:hover, a#purchase-button:hover {color:#fefefe; opacity:0.8;}

#about-bottom {position:absolute; width:260px; height:150px; bottom:0px; left:0px; padding-left:55px; z-index:100;}
#about-bottom a {color:#fefefe;}
#about-bottom p {margin:0;}
#sberbank, #sberbank-gray {position:absolute; width:235px; height:79px; background-color:#388815; bottom:0; left:0; z-index:9;}
#sberbank-gray {background-color:transparent!important; height:72px !important;}
#sberbank:hover {opacity:0.9;}
a#sbrf {float:left; width:120px; height:50px; background:url('/images/sprite.png') -3px -234px no-repeat; margin:18px 0 0 60px;}
a#sbrf-gray {float:left; width:120px; height:50px; background:url('/images/sprite.png') -136px -234px no-repeat; margin:10px 0 0 55px; color:#969696;}
.mering>a, .mering>p, .mering-gray>a, .mering-gray>p{margin:0; font-family:Helvetica; font-size:13px;}
.mering, .mering-gray {position:absolute;width:150px;height:22px;bottom:78px;left:-35px;-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);-o-transform:rotate(-90deg);transform:rotate(-90deg);z-index:100;}
.mering {color:#fff;}
.mering-gray>p>a, .mering-gray>p {color:#969696;}
/* */

/* appartaments */
a.ap_link {position:absolute; width:126px; height:126px; top:390px; right:0; padding-top:82px; background-color:#f59f14; font-family:Helvetica; font-size:12px; text-transform:uppercase; color:#fff; text-align:center; cursor:pointer; z-index:201;}
a.ap_link span {position:absolute; background:url('/images/sprite.png') -64px -296px no-repeat; bottom:53px; left:34px; width:60px; height:47px; pointer-events:none;}
a.ap_link:hover {opacity:0.8;}
div.ap-start-container {position:absolute; width:500px; height:496px; background-color:#4072d1; top:50%; left:50%; margin:-218px 0 0 -474px; padding:135px 125px 0 155px; font-family:Helvetica; font-size:30px; text-transform:uppercase; text-align:right; color:#fff; line-height:1.1em; z-index:101;}
.ap-start-compass {position:absolute; background:url('/images/app-compass.png') 0 0 no-repeat; width:827px; height:588px; left:50%; top:50%; margin:-250px 0 0 -387px; z-index:100;}
a.back-blue {position:absolute; width:126px; height:126px; top:326px; left:0; padding-top:90px; background-color:#646569; font-family:Helvetica; font-size:12px; text-transform:uppercase; color:#fff; text-align:center; cursor:pointer; z-index:201;}
a.back-blue span{position:absolute;background:url('/images/sprite.png') 0px -296px no-repeat;width:58px;height:46px;margin:-58px 0 0 -9px;}
a.back-blue:hover{color:#fefefe;opacity:0.9;}
.ap_ll_cont,.ap_lc_cont,.ap_lcr_cont,.ap_lr_cont,.ap_lr_cont_nine,.ap_rl_cont,.ap_rl_cont_nine,.ap_rc_cont,.ap_rcr_cont,.ap_rr_cont,.ap_rrb_cont {position:absolute;background:url('/images/model/ap-sprite.jpg') no-repeat;right:22%;top:180px;z-index:200;}
.ap_ll_cont{background-position:-92px -182px!important;width:303px;height:526px;}
.ap_lc_cont,.ap_rc_cont{background-position:-398px -182px!important;width:303px;height:375px;top:275px!important;}
.ap_lcr_cont{background-position:-705px -182px!important;width:314px;height:375px;top:235px!important;}
.ap_lr_cont{background-position:-1030px -182px!important;width:264px;height:528px;}
.ap_lr_cont_nine{background-position:-2630px -180px!important;width:265px;height:530px;}
.ap_rl_cont{background-position:-1303px -182px!important;width:266px;height:527px;}
.ap_rl_cont_nine{background-position:-2901px -180px!important;width:266px;height:529px;}
.ap_rcr_cont{background-position:-1572px -182px!important;width:322px;height:374px;top:235px!important;}
.ap_rr_cont{background-position:-1901px -182px!important;width:323px;height:476px;top:235px!important;}
.ap_rrb_cont{background-position:-2231px -182px!important;width:367px;height:278px;top:270px!important;right:19%!important;}

.of_lt_cont,.of_lr_cont,.of_lb_cont,.of_lrb_cont,.of_rr_cont,.of_rl_cont,.of_rb_cont,.of_rlb_cont{position:absolute;background:url('/images/model/ap-ground-sprite.jpg') 0 0 no-repeat;right:23%;top:310px;z-index:200;}
.of_lt_cont{background-position:-1px 0px!important;width:280px;height:201px;}
.of_lr_cont{background-position:-287px 0px!important;width:280px;height:202px;top:325px!important;}
.of_lrb_cont{background-position:-340px -203px!important;width:223px;height:257px;top:333px!important;}
.of_lb_cont{background-position:0px -215px!important;width:280px;height:244px;}
.of_rr_cont{background-position:-846px 0px!important;width:315px;height:210px;}
.of_rl_cont{background-position:-566px 0px!important;width:280px;height:202px;top:325px!important;}
.of_rb_cont{background-position:-849px -224px!important;width:312px;height:241px;}
.of_rlb_cont{background-position:-565px -203px!important;width:236px;height:259px;}

.ap-start-container__close{position:absolute; width:47px; height:47px; top:28px; right:30px; cursor:pointer; z-index:201;}
.ap-start-container__close>span,.location_page__close>span{position:absolute; background:url('/images/sprite.png') -173px -174px no-repeat; width:47px; height:47px; top:0; left:0; pointer-events:none;}
.location_page__close>span, .location_page__button>span{pointer-events:none}
/* */

/* rooms */
#room_div{width:100%;height:799px}
#room_description{position:absolute;width:222px;height:613px;top:195px;right:0;margin:0;color:#394049;font-family:Helvetica;overflow:hidden;z-index:10}
#room_description p span{float:left;width:100%;height:2em;font-size:0.5em;margin:-15px 0 10px 0;padding:0}
#p_live_area,#second_p_room,#p_number_room,#p_office_room,#p_rooms_count,#p_total_area{font-size:3.2em;margin:0 0 40px 0;padding:0;line-height:1em}
div#advantages{position:absolute;width:295px;height:460px;top:230px;left:26%;color:#818181;z-index:10}
div#advantages span{margin:0 6px 0 -25px}
div#advantages h2{float:left;margin:0;width:100%;height:1.8em;font-family:Helvetica;font-size:30px;text-transform:uppercase;color:#394049}
.tall,.noise,.systems,.vent,.heat {position:relative; float:left; width:100%; height:55px; padding:15px 0 0 95px; margin:10px 0;}
.tall>div,.noise>div,.systems>div,.vent>div,.heat>div{position:absolute;top:0;background:url('/images/sprite.png') no-repeat;width:52px;height:52px;margin:0 0 0 -95px}
.tall>div{background-position:0px -546px!important}
.noise{padding-top:7px!important}
.noise>div{background-position:-52px -546px!important}
.systems{padding-top:7px!important}
.systems>div{background-position:-104px -546px!important}
.vent>div{background-position:-156px -546px!important}
.heat{padding-top:7px!important}
.heat>div{background-position:-208px -546px!important}
a#advantages-more{float:right;background:url('/images/sprite.png') 92px -604px no-repeat;width:119px;color:#394049;height:18px;padding:0 35px 0 0;margin:15px 37px 0 0;font-family:Helvetica;font-size:12px}
#room_more{position:absolute;width:284px;height:548px;left:0;top:120px}
#room_more>#mortgage{background-color:#349aee;top:296px;left:126px}
span.mortgage_room{background-position:0 -705px!important;width:57px!important;height:51px!important;left:34px!important;bottom:50px!important}
.ap_ll_thumb,.ap_lc_thumb,.ap_lcr_thumb,.ap_lr_thumb,.ap_lrb_tumb,.ap_rl_thumb,.ap_rc_thumb,.ap_rcr_thumb,.ap_rr_thumb,.ap_rrb_thumb{position:absolute;background:url('/images/model/ap-sprite.jpg') no-repeat;width:221px;height:89px;left:30px;top:150px}
.ap_ll_thumb{background-position:-45px -60px!important}
.ap_lc_thumb{background-position:-268px -60px!important}
.ap_lcr_thumb{background-position:-492px -60px!important}
.ap_lr_thumb{background-position:-716px -60px!important}
.ap_lrb_thumb{background-position:-716px -60px!important}
.ap_rl_thumb{background-position:-939px -60px!important}
.ap_rc_thumb{background-position:-1162px -60px!important}
.ap_rcr_thumb{background-position:-1385px -60px!important}
.ap_rr_thumb{background-position:-1608px -60px!important}
.ap_rrb_thumb{background-position:-1831px -60px!important}

.of_lb_thumb,.of_lrb_thumb,.of_lr_thumb,.of_lt_thumb,.of_rr_thumb,.of_rl_thumb,.of_rb_thumb,.of_rlb_thumb{position:absolute;background:url('/images/model/ap-sprite.jpg') no-repeat;width:221px;height:95px;left:30px;top:155px}
.of_lb_thumb{background-position:-45px -776px!important}
.of_lrb_thumb{background-position:-726px -776px!important}
.of_lr_thumb{background-position:-499px -776px!important}
.of_lt_thumb{background-position:-270px -776px!important}
.of_rr_thumb{background-position:-1403px -776px!important}
.of_rl_thumb{background-position:-1177px -776px!important}
.of_rb_thumb{background-position:-1630px -776px!important}
.of_rlb_thumb{background-position:-952px -776px!important}

a#repair,a#instalments,a#mortgage,a#booking,a#pdf{position:absolute;width:126px;height:126px;margin:0;padding:83px 15px 0 15px;font-family:Helvetica;font-size:12px;text-transform:uppercase;color:#fff;text-align:center;z-index:210}
a#repair:hover,a#instalments:hover,a#mortgage:hover,a#booking:hover,a#pdf:hover{opacity:0.8}
a#repair>span,a#instalments>span,a#mortgage>span,a#booking>span,a#pdf>span{position:absolute;background:url('/images/sprite.png') no-repeat;width:43px;height:43px;top:26px;left:38px}
a#repair{background-color:#349aee;top:170px}
a#repair span{background-position:-260px -546px!important}
a#instalments{background-color:#4072d1;top:296px}
a#instalments span{background-position:-313px -546px!important}
a#mortgage{background-color:#349aee;top:296px;left:126px}
a#mortgage>span{background-position:-364px -546px!important;left:42px!important}
a#booking{background-color:#cf4528;top:422px}
a#booking span{background-position:-313px -598px!important;left:48px!important}
a#pdf{background-color:#c14126;top:422px;left:126px}
a#pdf span{background-position:-261px -597px!important;left:47px!important}
p.street-left,p.street-bottom,p.street-right,p.street-top {position:absolute;color:#b5b5b5;margin:0;padding:0}
p.street-left{top:277px;left:-70px;-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}
p.street-right{top:277px;right:-95px;-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);-o-transform:rotate(-90deg);transform:rotate(-90deg)}
p.street-bottom{bottom:-38px;left:75px}
p.street-top{top:-38px;left:92px}
.ap_lc_cont>p.street-left,.ap_lcr_cont>p.street-left{top:187px!important}
span.arrow-left,span.arrow-right{position:absolute;background:url('/images/sprite.png') no-repeat;width:30px;height:15px}
span.arrow-left{background-position:-32px -623px!important;left:-71px;top:3px}
span.arrow-right{background-position:-29px -638px!important;right:-78px;top:3px}
/**/

/* mortgage */
#mortgage-container{position:absolute;width:766px;height:385px;top:270px;left:330px;z-index:200}
#mortgage-navi{position:absolute;width:255px;height:386px;left:0;top:0}
#mortgage-navi>a{width:125px;height:125px;background-color:#fff;text-indent:-9999px}
#mortgage-navi>a:hover{opacity:0.6}
#mortgage-navi>a>span{float:left;background:url('/images/sprite.png') no-repeat}
a#mortgage-sbrf{float:left}
a#mortgage-sbrf>span{background-position:-231px -75px!important;width:82px;height:63px;margin:27px 0 0 25px}
a.mortgage-bm{float:left;margin-top:5px;}
a.mortgage-bm>span{background-position:-229px -138px!important;width:86px;height:67px;margin:28px 0 0 20px}
a.mortgage-vtb24{float:right;margin:0 0 5px 5px;}
a.mortgage-vtb24>span{background-position:-227px -207px!important;width:91px;height:25px;margin:48px 0 0 17px}
a.mortgage-rshb{float:right;margin-left:5px;}
a.mortgage-rshb>span{background-position:-314px -73px!important;width:103px;height:64px;margin:30px 0 0 11px}
a.mortgage-gazprom{float:right;margin-top:5px;}
a.mortgage-gazprom>span{background-position:-321px -137px!important;width:98px;height:70px;margin:26px 0 0 13px}
#mortgage-content {position:absolute; width:380px; height:386px; left:260px; top:0; padding:75px 50px 0 56px; background-color:#3f72d0; font-family:Verdana; font-size:16px; color:#fff; line-height:120%;}
#mortgage-content>h1 {font-family:Verdana; font-weight:bold; font-size:30px; color:#fff; margin:0; padding:0; text-transform:uppercase;}
.mortgage_steps__button,.mortgage_start__button{position:absolute;width:126px;height:126px;top:127px;right:0;padding-top:85px;background-color:#f59f14;font-family:Helvetica;font-size:12px;text-transform:uppercase;color:#fff;text-align:center;cursor:pointer;z-index:201;}
.mortgage_steps__button>span,.mortgage_start__button>span {position:absolute; background:url('/images/sprite.png') -64px -296px no-repeat; width:60px; height:47px; left:32px; bottom:54px; pointer-events:none;}
.mortgage_steps__button:hover, .mortgage_docs__button:hover,.mortgage_start__button:hover {opacity:0.7;}

#steps-container {position:absolute; width:506px; height:100%; left:0; top:0; background:#3f72d0; font-family:Verdana; color:#fff;}
#steps-container h2 {font-family:Verdana; font-size:17px; font-weight:normal; margin:55px 0 35px 0; padding:0 103px 0 69px; text-transform:uppercase; line-height:130%;}
.step1 {float:left; width:100%; height:75px;}
.step2 {float:left; width:100%; height:120px; background-color:#4f7dde;}
.step3 {float:left; width:100%; height:82px;}
.step4 {float:left; width:100%; height:84px; background-color:#4f7dde;}
.step5 {float:left; width:100%; height:79px;}
.step6 {float:left; width:100%; height:84px; background-color:#4f7dde;}
.step1, .step2, .step3, .step4, .step5, .step6 {padding:0 40px;}

.step-left {float:left; width:80px; height:100%; font-size:10px; opacity:0.6;}
.step-left p {width:30px; margin:0; font-weight:bold; text-align:center; line-height:1.7em; text-transform:uppercase;}
.step-left p {font-family:Helvetica; font-size:14px; margin:0; padding:0;}
.step-left p span, .step-right p span {font-size:24px; margin:0; padding:0;}
.step-right {float:right; width:330px; height:100%;}
.step-right p {margin:0; padding:0;}

.step1>.step-left, .step5>.step-left {padding-top:15px;}
.step2>.step-left {padding-top:37px;}
.step3>.step-left, .step4>.step-left, .step6>.step-left {padding-top:17px;}

.step1>.step-right {padding-top:15px;}
.step2>.step-right {padding-top:5px;}
.step3>.step-right {padding-top:20px;}
.step4>.step-right {padding-top:8px;}
.step5>.step-right, .step6>.step-right {padding-top:17px;}

.mortgage_docs__button {position:absolute; width:126px; height:126px; bottom:239px; right:0; padding-top:81px; background-color:#f59f14; font-family:Helvetica; font-size:12px; text-transform:uppercase; color:#fff; text-align:center; cursor:pointer; z-index:201;}
.mortgage_docs__button>span {position:absolute; background:url('/images/sprite.png') -184px -67px no-repeat; width:39px; height:43px; left:44px; bottom:53px;}

div.mortgage-docs-container {position:absolute; width:717px; height:551px; left:400px; bottom:91px;}
.mortgage-docs-list {position:absolute; width:346px; height:346px; top:0; left:0; background-color:#3f72d0; color:#fff; font-family:Helvetica; font-size:14px; padding:30px 23px 0 48px;}
.mortgage-docs-list>h2 {font-family:Verdana; font-size:17px; text-transform:uppercase; font-weight:normal; color:#fff; line-height:1.3em;}
.mortgage-docs-list>p {margin:0.3em 0; padding-left:30px;}
.mortgage-docs-list>p.last {margin-top:1em; padding-left:0px;}
.mortgage-docs-list>p>span {float:left; background:url('/images/sprite.png') -150px -118px no-repeat; width:17px; height:4px; margin:9px 0 0 -30px;}
.young-family {position:absolute; width:329px; height:205px; bottom:0; left:77px; background-color:#94c604; color:#fff; font-family:Helvetica; font-size:14px; padding:35px 0 0 50px;}
.mortgage-plus {position:absolute; width:371px; height:261px; top:85px; right:0; background-color:#ba2748; color:#fff; font-family:Helvetica; font-size:14px; padding:25px 60px 0 63px; line-height:1.5em;}
.young-family span, .mortgage-plus span {text-transform:uppercase; font-size:18px;}
#mortgage-app>#app {bottom:79px!important; right:185px!important;}

.mortgage_steps__close, .mortgage_docs__close {position:absolute; width:126px; height:126px; bottom:298px; left:-590px; padding-top:85px; background-color:#646569; font-family:Helvetica; font-size:12px; text-transform:uppercase; color:#fff; text-align:center; cursor:pointer; z-index:201;}
.mortgage_steps__close:hover, .mortgage_docs__close:hover, .mortgage_start__close:hover {opacity:0.7;}
.mortgage_steps__close>span, .mortgage_docs__close>span {position:absolute; background:url('/images/sprite.png') no-repeat; background-position:2px -296px!important; width:58px; height:47px; top:30px; left:33px; pointer-events:none;}
.mortgage_docs__close {left:-400px!important; bottom:207px!important; z-index:220!important;}
.mortgage_start__close{position:absolute; background:url('/images/sprite.png') -173px -174px no-repeat; width:43px; height:43px; top:190px; left:1000px; cursor:pointer; z-index:201;}
/* */

/* contacts */
#contacts-page{position:absolute;width:100%;z-index:2}
#contacts-container,.location-cont{position:absolute;width:458px;height:486px;top:156px;left:50%;right:50%;margin-left:-252px;padding:70px 80px 0 84px;background-color:rgba(255, 255, 255, 0.75);z-index:100}
#contacts-container>h2,.location-cont>h2{text-transform:uppercase;font-family:Helvetica;font-size:22px;color:#394049;margin:0 0 43px 0}
#contacts-container>p{font-size:14px;margin:0;padding:0;line-height:1em}
p.upper{text-transform:uppercase}
p.cc-address{margin-top:12px!important}
p.cc-phone{font-size:24px!important;color:#394049!important;margin-top:25px!important}
p.cc-cont{margin-top:16px!important}
a.cc-e-mail{float:left;width:100%;color:#4072d1;margin:6px 0 21px 0!important}
a.cc-e-mail>span>a{color:#4072d1}
p.grafik {margin-top:11px!important}
p.grafik>span{font-size:18px!important}

#call-us-button{position:absolute;width:126px;height:126px;top:0;left:0;padding:79px 10px 0 10px;font-size:12px;color:#fff;text-transform:uppercase;text-align:center;line-height:130%;background-color:#d04526;z-index:100}
#call-us-button span{position:absolute;width:43px;height:42px;background:url('/images/sprite.png') -415px -595px no-repeat;left:40px;top:26px}
#call-us-button:hover{opacity:0.9}
#contacts-container>#call-us-button{left:-126px!important}
/* */

/* about builder */
#about-builder{position:absolute;width:100%;height:100%;top:0;left:0;background:url('/images/about-builder.jpg') no-repeat;background-size:cover;z-index:2}
#about-builder-content{position:absolute;top:153px;left:205px;width:582px;height:501px;z-index:200;font-family:Helvetica;color:#394049}
#about-builder-navi{position:absolute;top:0;left:0;width:126px;height:501px}
#about-builder-container{position:absolute;top:0;left:126px;width:456px;height:501px;background-color:rgba(255,255,255, .75);padding:95px 50px 30px 92px}
#about-builder-container h2{font-size:20px;text-transform:uppercase;color:#394049}
#about-builder-container>.scroll{width:100%;height:298px;padding-right:10px;overflow:hidden;overflow-y:scroll}
#about-builder-container>.scroll::-webkit-scrollbar{width:9px}
#about-builder-container>.scroll::-webkit-scrollbar-thumb{background:url('/images/sprite.png') -469px -610px no-repeat;width:7px;height:37px}
#purchase-button{background-color:#0093da}
#purchase-button>span{float:left;width:47px;height:36px;background:url('/images/sprite.png') -273px -650px no-repeat;margin:28px 35px 20px 43px}
#about-builder-button{background-color:#683786}
#about-builder-button>span{float:left;width:47px;height:40px;background:url('/images/sprite.png') -219px -651px no-repeat;margin:28px 35px 20px 43px}
#about-builder-navi>#gallery-button{bottom:123px!important}
#about-builder-back-button{position:absolute;width:126px;height:126px;top:0;left:297px;padding-top:90px;background-color:#646569;font-family:Helvetica;font-size:12px;text-transform:uppercase;color:#fff;text-align:center;cursor:pointer;z-index:201}
#about-builder-back-button>span{position:absolute;background:url('/images/sprite.png') 0px -296px no-repeat;width:58px;height:46px;left:35px;top:27px}
#about-builder-back-button:hover{color:#fefefe;opacity:0.8}
/* */

/* advantages */
#advantages-page{position:absolute;width:100%;height:100%;top:0;left:0;background:url('/images/advantages.jpg') no-repeat;background-size:cover;overflow:hidden;z-index:2}
#advantages-frame{position:absolute;width:100%;height:504px;top:182px;left:0}
#advantages-frame-one{position:absolute;width:494px;height:504px;right:35%;top:0;z-index:200}
#advantages-frame-two{position:absolute;width:494px;height:504px;right:0;top:0;z-index:200}
.advantages__frame_two{position:absolute;width:494px;height:504px;right:-10%;top:0;z-index:200}
#advantages-containers-left{float:left;width:252px;height:504px}
#advantages-containers-right{float:right;width:242px;height:504px}
#advantages-container{float:left;width:242px;height:246px;margin:5px 0}
.icon-brick-house{width:76px!important;height:57px!important;background-position:-165px -705px!important;margin:0 96px 20px 0}
.icon-engineering-systems{width:59px!important;height:58px!important;background-position:-165px -769px!important;margin:0 96px 20px 0}
.icon-individual-heating{width:37px!important;height:57px!important;background-position:-311px -747px!important;margin:0 96px 20px 0}
.icon-natural-ventilation{width:62px!important;height:31px!important;background-position:-299px -815px!important;margin:14px 96px 33px 0}
.icon-out-plan{width:62px!important;height:62px!important;background-position:-98px -704px!important; margin:0 96px 20px 0}
.icon-well-territory{width:123px!important;height:52px!important;background-position:-352px -753px!important; margin:0 96px 20px 0}
.icon-high-ceilings{width:51px;height:67px;background-position:-233px -778px!important;margin:0 96px 28px 0}
.icon-trouble-free-elevators{width:61px!important;height:64px!important;background-position:-248px -704px!important;margin:0 96px 10px 0}
.icon-brick-house,.icon-engineering-systems,.icon-individual-heating,.icon-natural-ventilation,.icon-out-plan,.icon-well-territory,.icon-high-ceilings,.icon-trouble-free-elevators{background:url('/images/sprite.png') no-repeat;float:left}

.adv_item_hover{position:absolute;width:100%;height:100%;overflow:hidden;top:100%;left:0;background:#fff;z-index:1}
.v-align>div{position:relative;display:inline-block;vertical-align:middle;width:100%;white-space:normal}
.adv_text {text-align:left;width:180px;margin:38px auto 0;font-family:Verdana;font-size:12px;color:#394049;line-height:120%}
.adv_item {position:relative;display:inline-block;width:242px;height:246px;overflow:hidden;background-color:#3f72d0;padding:38px 28px 0 40px;cursor:pointer}
.adv_title>h2{font-family:Verdana;font-weight:bold;font-size:15px;text-transform:uppercase;color:#fff;margin:0 0 10px 0;padding:0;line-height:130%}
.adv_title>p{font-family:Verdana;font-size:11px;color:#fefefe;margin:0;padding:0;line-height:110%}
.adv_item:hover .adv_item_hover {top:0}

.location_page__button{position:absolute;width:126px;height:126px;top:0;left:50%;margin-left:-355px;padding:0 7px;font-size:12px;color:#fff;text-transform:uppercase;text-align:center;line-height:130%;background-color:#0093da;z-index:100;cursor:pointer}
.location_page__button>span{float:left;background:url('/images/sprite.png') -226px -602px no-repeat;width:29px;height:43px;margin:26px 0 12px 43px;pointer-events:none}
.advantages_two__button{position:absolute;width:126px;height:126px;bottom:185px;right:-136px;background-color:#88898d;cursor:pointer;z-index:100}
.advantages_two__button>span{position:absolute;background:url('/images/sprite.png') -67px -298px no-repeat;width:56px;height:43px;left:35px;bottom:42px;pointer-events:none}
.advantages_two__button:hover,.location_page__button:hover{opacity:0.8}
.advantages__close{position:absolute;width:126px;height:126px;bottom:185px;left:-135px;padding-top:85px;background-color:#88898d;font-family:Helvetica;font-size:12px;text-transform:uppercase;color:#fff;text-align:center;cursor:pointer;display:none;z-index:210}
.advantages__close>span{position:absolute;background:url('/images/sprite.png') no-repeat;background-position:2px -296px!important;width:58px;height:47px;top:38px;left:33px;pointer-events:none}
/* */

/* conditions */
#conditions-purchase{position:absolute;width:100%;height:100%;top:0;left:0;background:url('/images/advantages.jpg') no-repeat;background-size:cover;overflow:hidden;z-index:2}
#conditions-purchase-content{position:absolute;top:153px;left:205px;width:708px;height:504px;font-family:Helvetica;color:#394049;z-index:200}
#conditions-purchase-navi{position:absolute;top:0;left:0;width:126px;height:501px}
#conditions-purchase-container{position:absolute;top:0;left:126px;width:456px;height:504px;background-color:rgba(255,255,255, .75);padding:55px 55px 30px 85px;line-height:130%}
#conditions-purchase-container h2{font-size:20px;text-transform:uppercase;color:#394049}
#conditions-purchase-navi-right{position:absolute;top:0;right:0;width:126px;height:504px}
#conditions-purchase-navi-right>a#instalments{top:140px!important}
#conditions-purchase-navi-right>.mortgage_start__button{top:266px!important;background-color:#349aee!important}
/* */

/* leftmenu */
.menu__button{position:absolute;width:125px;height:125px;top:0px;left:297px;cursor:pointer;color:#fefefe;text-transform:uppercase;text-align:center;z-index:101}
.menu__button:hover{opacity:0.5}
.menu__button:after{content:'';position:absolute;width:40px;height:41px;top:50%;left:50%;margin:-29px 0 0 -20px;background:url('/images/sprite.png') 0 -192px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.menu__button.active:after{opacity:0;-webkit-transform:scale(0.1);-moz-transform:scale(0.1);-ms-transform:scale(0.1);-o-transform:scale(0.1);transform:scale(0.1)}
.menu__frame{position:absolute;width:742px;top:0px;bottom:0px;left:-742px;z-index:202;background:url('/images/leftmenu-bg.png') no-repeat left top;font-size:0;text-align:left;-webkit-transition:left .4s ease-in-out;-moz-transition:left .4s ease-in-out;-ms-transition:left .4s ease-in-out;-o-transition:left .4s ease-in-out;transition:left .4s ease-in-out;will-change:left}
.menu__frame.visible{left:0}
.menu__list{position:absolute;top:5%;right:50px;bottom:180px;left:70px;margin-top:150px;overflow:hidden}
.menu_button_home{background-color:#3f72d0;width:100%;height:100%;padding-top:83px}
.menu_button_about{background-color:#88898d;width:100%;height:100%;padding-top:83px}
/* */

/* footer */
.menu-opened .footer__left{color:#7e7e7e}.footer__left.pjax{text-decoration:none}.footer__callback-button,.footer__docs-button,.footer__privacy-button{color:#FFF;font-size:13px;display:inline-block;cursor:pointer}.footer__docs-button:hover{color:#eb3d01!important;cursor:pointer}.footer__docs-button.active{color:#fff}.footer__left>a:hover,.footer__callback-button:hover,.footer__docs-button:hover{color:#FFF}
/* */

/* documents */
.documents__frame{display:none;position:absolute;width:329px;height:100%;top:0;bottom:0;padding-top:120px;background:#3f72d0;z-index:230}
.mortgage__frame_start{display:none;position:absolute;width:100%;height:100%;top:0;left:0;bottom:0;background-color:rgba(56, 55, 55, 0.85);z-index:230}
.mortgage__frame_steps{display:none;position:absolute;width:632px;height:675px;bottom:0;padding:0;z-index:230}
.mortgage__frame_docs{display:none;position:absolute;width:100%;height:100%;top:0;left:0;bottom:0;background-color:rgba(255,255,255, .9);z-index:230}
.documents__title{margin:40px 0 0 40px;font-size:34px;font-family:Helvetica, Arial, sans-serif;text-transform:uppercase;color:#FFF}
.documents__title>span{display:block;font-family:Helvetica, Arial, sans-serif}
.documents__list{position:absolute;top:165px;right:10px;bottom:0;left:10px}
.documents__close{top:150px;right:-18px;background:url('/images/sprite.png') no-repeat;background-position:-140px -69px}
/* */

/* house */
.center{position:relative;width:1165px;margin:0 auto}
#floors_div,#room_div {overflow:hidden}
#floors_div{position:absolute;width:100%;height:979px;padding-top:60px;top:0;left:0}
div.maphilight{background-position:180px 234px!important;background-repeat:no-repeat!important}
area{cursor:pointer}
#house-shadow{position:relative;min-width:1165px;height:979px; margin:0 auto; background:url('/images/model/choose-floor.jpg') center top no-repeat}
#floor_left{position:absolute;top:38%;left:0;z-index:200}
.hs-floor,.hs-house,.hs-room {position:relative}
.hs-floor{margin:0 auto;width:1165px;position:relative}
.hs-house{position:absolute;width:1165px;height:979px;top:0;bottom:0;margin-left:-584px;right:50%;left:50%}
.hs-room{height:799px}
.hs-back-floor,.hs-back-house{position:absolute;width:126px;height:126px;background-color:#818181;top:0;left:296px;padding-top:90px;font-family:Helvetica;font-size:12px;text-transform:uppercase;color:#fff;text-align:center;cursor:pointer;z-index:210}
.hs-back-floor>span,.hs-back-house>span{position:absolute;background:url('/images/sprite.png') no-repeat;background-position:0px -296px!important;width:58px;height:46px;margin:-58px 0 0 -9px}
.hs-back-floor:hover,.hs-back-house:hover{color:#fefefe;opacity:0.9}
.hs-back-house{left:0!important}
#hs-back-house{position:absolute;width:363px;height:126px;top:0;left:296px;padding:13px 50px 0 170px;font-family:Helvetica;font-size:24px;color:#b5b5b5;text-transform:uppercase;line-height:100%;z-index:220}
.hs-turn-house{width:145px;height:25px;position:absolute;top:626px;left:882px;display:block;transition:none}
.hs-turn-house:hover{background-position:-145px 0;transition:none}
.hs-sold-shield{width:117px;height:38px;opacity:0.9;position:absolute;pointer-events:none}
.hs-reserv-shield{width:158px;height:38px;opacity:0.9;position:absolute;pointer-events:none}
.hs-sel{width:113px;height:31px;left:15px;position:absolute;pointer-events:none}
.hs-curr-floor{position:absolute;width:184px;top:100px;right:185px;pointer-events:none;z-index:220}
.hs-curr-floor-number,.hs-curr-floor-sale{float:left;display:inline-block;width:110px;color:white;font-size:15px;text-transform:uppercase;text-align:left;font-weight:bold}
.hs-curr-floor-number{height:83px}
.hs-curr-floor-sale{height:90px}
.hs-curr-floor-number .text,.hs-curr-floor-sale .text{color:white;font-size:60px;height:70px;width:100%;text-align:left;font-family:Helvetica;font-weight:bold}
.choose-floor-text{position:absolute;width:236px;height:127px;left:0;top:200px;background-color:#4f7dde;font-family:Helvetica;font-size:24px;font-weight:normal;text-transform:uppercase;color:white;text-align:left;padding:41px 0 0 52px;line-height:100%;z-index:220}
.min-text{font-size:21px}
.hs-change-floor{width:260px;height:126px}
#room_left .hs-change-floor{top:22px;pointer-events:none}
.hs-number-floor{display:none}

#condition{position:absolute;width:130px;height:97px;top:13px;left:650px;color:#818181;z-index:99}
.ap-not-sale,.ap-sale,.ap-reserv{position:absolute;top:0;height:35px;padding:3px 0 0 40px}
.ap-not-sale{left:0;width:185px}
.ap-reserv{left:0;top:32px;width:145px}
.ap-sale{left:0;top:65px;width:145px}
.ap-not-sale>span,.ap-sale>span,.ap-reserv>span{position:absolute;left:0;top:0;background:url('/images/sprite.png') no-repeat;width:30px;height:30px}
.ap-not-sale>span{background-position:-413px -546px!important}
.ap-reserv>span{background-position:-82px -609px!important}
.ap-sale>span{background-position:-446px -546px!important}
.floor-number{position:absolute;width:100%;top:130px;text-align:center;font-size:30px;color:#b5b5b5;padding-right:63px}
#sections{position:absolute;width:700px;height:35px;left:50%;margin-left:-33%;bottom:40px;font-size:30px;text-transform:uppercase;text-align:center;color:#b5b5b5;z-index:200}
#sections p{margin:0;padding:0}
.section-1{float:left;width:50%;height:35px}
.section-2{float:right;width:50%;height:35px}
.hs-up-floor span{background-position:-66px -297px !important}
.hs-down-floor span{background-position:0px -297px !important}
.hs-up-floor span,.hs-down-floor span{float:left; background:url('/images/sprite.png') no-repeat; width:59px; height:48px; margin:35px 0 0 35px;}
.hs-down-floor,.hs-up-floor{float:left; width:126px; height:126px; margin:10px 0; background-color:#cf4528; font-family:Helvetica; font-size:12px; color:#fff; text-transform:uppercase; cursor:pointer;}
.hs-down-floor:hover,.hs-up-floor:hover{opacity:0.8!important}
.hs-up-floor{float:right}
.hs-down-floor{left:-300px!important}
.hs-down-floor:hover,.hs-up-floor:hover{opacity:1}
.hs-room-left{position:absolute;text-align:center;pointer-events:none}
a.return-floor,a.return-house{transition:none;cursor:pointer}
p.one-floor{font-size:17px!important}
#content-area{clear:none}
.choose-floor-location{position:absolute;background:url('/images/sprite.png') -701px 0 no-repeat;width:388px;height:304px;right:0px;top:230px;z-index:220}
/* */

/* map */
.hide{display:none}
.map{position:absolute;top:0;left:0;right:0;bottom:0;z-index:1}
.marker-dropdown {background:#fff;padding:14px 14px 5px; box-shadow:0 21px 23px -16px rgba(52, 35, 53, 0.6);}
.marker-dropdown:after {content:"";position:absolute;top:100%;left:50%;margin-left:-20px;border-top:24px solid #fff;border-left:20px solid transparent;border-right:20px solid transparent}
.marker-dropdown:before {content:"";position:absolute;top:100%;left:50%;margin-left:-7px;margin-top:-1px;width:46px;height:26px}
.marker-dropdown.large{padding:30px 20px 15px;width:360px}
.marker-dropdown h3,.marker-dropdown h5{line-height:1.4 !important}
.marker-dropdown a{font-weight:inherit;font-family:inherit;font-size:inherit}
.map ~ .main-content{z-index:991;bottom:auto;max-width:400px}
.marker{position:relative;width:40px;height:40px;text-align:center}
.marker .marker-dropdown{display:none;position:absolute;bottom:20px;left:-100px;width:240px}
.marker:hover,.marker.active{z-index:999}
.marker.active .marker-dropdown{display:block}
.marker.active .btn-marker{display:none}
.btn-marker{position:relative;width:40px;height:40px;background:transparent;border:0;margin:0;padding:0;cursor:pointer}
.btn-marker > span{position:relative;display:block;width:39px;height:53px;padding:8px 0 0;border-radius:18px 18px 0 0}
.map-logo:before{z-index:-1;margin-top:85px}
.map-logo{float:left;background:url('/images/sprite.png') -390px -645px no-repeat;width:78px;height:102px;margin:-40px 0 0 -10px}
.map-house{float:left;background:url('/images/sprite.png') -326px -645px no-repeat;width:64px;height:83px;margin:-50px 0 0 0}
.list-filter .checkbox{float:left;margin:0;padding:0;background:none;list-style:none;color:#394049;width:100px;height:100px;font-size:12px;text-align:center;line-height:100%}
.list-filter .checkbox>label{position:relative;display:block;-webkit-transition:all .1s;transition:all .1s;padding-top:0;padding-left:0}
.list-filter .checkbox>label>input[type="checkbox"]{position:absolute;top:0;left:0;margin:0;opacity:0}
.list-filter .checkbox>label:hover{cursor:pointer}
.list-filter .checkbox i{margin:0 auto 5px auto;-webkit-transition:all .22s;transition:all .22s}
.list-filter{font-size:14px}
.map-location-nav {position:absolute;top:52%;left:3%;z-index:995;width:335px;margin-top:-180px;-webkit-transform:translate3d(0px, 0px, 1px);transform:translate3d(0px, 0px, 1px)}
/* end MAP */

.noselect{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.tab-content{padding:0;width:100%;height:100%;overflow-y:scroll;overflow-x:visible}
.tab-content::-webkit-scrollbar{display:none}
.tab-buttons{position:absolute;right:0;top:50%;transform:translate(50%,-50%);width:50px}
.map-tabs{color:black;position:absolute;top:56%;left:250px;transform:translateY(-50%);width:390px;height:330px;background:rgba(255, 255, 255, 0.7);z-index:999;transition:all 1s;margin-top:-70px}
.about-tabs{color:black;position:absolute;top:50%;left:175px;transform:translateY(-50%);width:600px;height:330px;background:rgba(255, 255, 255, 0.5);z-index:999;transition:all 1s;margin-top:-95px}
.map-tabs.collapsed,.about-tabs.collapsed{height:53px;margin-top:-200px}
.map-tabs.collapsed .btn-map,.about-tabs.collapsed .btn-map{opacity:0}
.map-tabs.collapsed .tab-buttons,.about-tabs.collapsed .tab-buttons{top:0;transform:translate(50%,0)}
.map-tabs.collapsed .btn-map.map-close,.about-tabs.collapsed .btn-map.map-close{opacity:1}
.map-tabs.collapsed .tab-content,.about-tabs.collapsed .tab-content{height:50px}
.btn-map.disabled{opacity:0.7;cursor:default}
.btn-map{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;width:54px;height:54px;background:url('/images/sprite.png');display:block;border-bottom:1px solid rgba(255, 255, 255, 0.4);cursor:pointer}
.map-close{background-position:-13px -623px}
.map-close:hover{background-position:-70px -680px !important}
.map-prev{background-position:-217px -623px}
.map-prev:hover{background-position:-217px -684px !important}
.map-next{background-position:-351px -623px}
.map-next:hover{background-position:-351px -684px !important}

/* construction-progress */
#construction-progress,#construction-progress-photo,#mortgage-page{position:absolute; width:100%; height:100%; top:0; left:0; background:url('/images/construction-progress.jpg') no-repeat; background-size:cover; z-index:2;}
#construction-progress-content{position:absolute; background:url('/images/mortgage.jpg') -220px -120px no-repeat; width:832px; height:463px; left:50%; top:152px; margin-left:-416px; z-index:20;}
.construction-container{position:absolute; width:270px; height:260px; left:86px; top:54px; color:#fff; z-index:30;}
.construction-container>h2{font-size:2em; color:#fff; text-transform:uppercase; margin:0; padding:0; font-weight:bold;line-height:130%;}
.construction-container>p{padding-right:32px;}
.construction-start-image{position:absolute; background:url('/images/construction-progress-mask.png') 0 0 no-repeat; width:832px; height:463px; left:0; top:0; z-index:10;}
#construction-progress>p{font-size:1em; color:#fff; line-height:150%;}
#construction-progress-navi{position:absolute; width:454px; height:205px; left:112px; bottom:-90px; z-index:30;}
a.construction-link{float:left; background:url('/images/sprite.png') 138px -678px no-repeat; width:165px; height:21px; color:#d4e986;}
a.construction-link:hover{background-position:180px -678px!important; color:#fff;}
#construction-progress-navi-left{position:absolute;background-color:#94c604;width:328px; height:205px;top:0;left:0;padding:20px 35px 0 43px;color:#fff;}
#construction-progress-navi-left>h2{font-size:1.8em; color:#fff; line-height:100%;}
#webcam-button{position:absolute; background-color:#f39200; width:126px; height:126px; top:0; right:0; padding:82px 17px 0 17px; color:#fefefe; font-size:12px; text-align:center; text-transform:uppercase;}
#webcam-button>span{position:absolute; background:url('/images/sprite.png') -114px -650px no-repeat; width:43px; height:42px; left:38px; top:27px;}
#webcam-button:hover{color:#fff;opacity:0.9;}
#construction-progress-back-button,#advantages-page-back-button{position:absolute; width:126px; height:126px; top:0; left:297px; padding-top:90px; background-color:#88898d; font-family:Helvetica; font-size:12px; text-transform:uppercase; color:#fff; text-align:center; cursor:pointer; z-index:201;}
#construction-progress-back-button>span,#advantages-page-back-button>span{position:absolute; background:url('/images/sprite.png') -95px -160px no-repeat; width:50px; height:50px; left:41px; top:38px;}
#construction-progress-back-button:hover,#advantages-page-back-button:hover{color:#fefefe; opacity:0.8;}
/**/

/* location */
.location-cont {padding:70px 64px 0 74px!important;}
.location-cont>h2{margin:0 0 30px 0!important;}
.location-cont>p {font-size:14px; margin:10px 0; padding:0; line-height:1.2em}

.location-content {width:100%;height:280px;padding-right:20px;overflow:scroll;overflow-x:hidden}
.location-content::-webkit-scrollbar{width:9px}
.location-content::-webkit-scrollbar:start{margin-top:100px}
.location-content::-webkit-scrollbar-thumb{background:url('/images/sprite.png') -1624px -540px no-repeat;width:7px;height:40px}
.location_page__close{position:absolute;background-color:#818181;width:77px;height:76px;top:250px;right:60px;cursor:pointer;display:block;z-index:201}
.location_page__close>span{background:url('/images/sprite.png') -172px -174px no-repeat;left:16px;top:16px}
.location-navi{position:absolute;background-color:rgba(255, 255, 255, 0.75);width:970px;height:215px;bottom:0;right:0;z-index:201}
.location-navi-desc{position:absolute;width:210px;height:110px;top:62px;left:60px;color:#394049;font-size:14px;padding:0;margin:0 0 10px 0;line-height:110%}
.location-navi-desc>h2{font-family:Helvetica;font-size:20px;text-transform:uppercase;color:#394049;margin:0;padding:0;line-height:110%}
.location-navi-container{position:absolute;width:645px;height:100px;top:60px;right:35px;z-index:100}
.location-navi-container ul{margin-top:0.5em}
[class^="icon-"],[class*=" icon-"]{display:inline-block;width:54px;height:52px;line-height:20px;vertical-align:text-top;background-image:url('/images/sprite.png');background-color:transparent;background-repeat:no-repeat}
[class^="icon-"]:hover,[class*=" icon-"]:hover{opacity:0.8}
.icon-pastime{background-position:-530px 0px}.icon-beauty-salons{background-position:-638px -162px}.icon-mall{background-position:-530px -108px}.icon-dollar{background-position:-638px -216px}.icon-daycare{background-position:-530px 0px}.icon-restaurant{background-position:-530px -162px}.icon-auto{background-position:-584px 0px}.icon-public-transport{background-position:-530px -216px}.icon-medicine{background-position:-530px -54px}.icon-pobeda{background-position:-584px -54px}.icon-teatr{background-position:-584px -108px}.icon-hippodrome{background-position:-584px -216px}.icon-pool{background-position:-584px -162px}
.locations-coords-button,.locations-coords__close{position:absolute;width:30px;height:55px;top:15px;right:0;background:url('/images/sprite.png') -671px 0 no-repeat;cursor:pointer;z-index:101}
.locations-coords__close{background-position:-641px 0!important}
/* */

/* gallery */
div.gallery-cont-day{z-index:8}
div.gallery-cont-night{z-index:7}
div.gallery-cont-day,div.gallery-cont-night{position:absolute;width:100%;height:100%;top:0;left:0;bottom:0;right:0}
.button__day{left:0;background-position:1px -775px!important}
.button__night{right:0;background-position:-62px -775px!important}
.button__day,.button__night{position:absolute;width:62px;height:62px;background:url('/images/sprite.png') no-repeat;top:0;cursor:pointer;z-index:101}
.button__day:hover,.button__night:hover{opacity:0.8}
/* */

/*** other ***/
#404 {position:absolute;width:100%;height:100%;left:0;right:0;top:0;bottom:0;background:url('/images/404.jpg') center center no-repeat;background-size:cover;z-index:2}
#404>.cont{position:relative;width:536px;height:518px;background:url('/images/sprite.png') 0 -1096px no-repeat;margin:130px auto}
.metrika{position:absolute;top:-9999px;left:-9999px}

.bedroom,.coatroom,.hallway,.livingroom,.kitchen,.loggia,.loggia2,.bathroom,.office{position:absolute;font-family:Helvetica;font-size:12px;color:#394049;line-height:110%;z-index:203}
#ap_ll>.bedroom{right:463px;top:274px}#ap_ll>.coatroom{right:482px;top:404px}#ap_ll>.hallway{right:366px;top:398px}#ap_ll>.livingroom{right:448px;top:528px}#ap_ll>.kitchen{right:320px;top:615px}#ap_ll>.loggia{right:467px;top:663px}#ap_ll>.bathroom{right:293px;top:499px}
#ap_lr>.bedroom{right:290px;top:370px}#ap_lr>.hallway{right:378px;top:432px}#ap_lr>.livingroom{right:299px;top:549px}#ap_lr>.kitchen{right:426px;top:626px}#ap_lr>.loggia{right:287px;top:246px}#ap_lr>.bathroom{right:448px;top:520px}
#ap_lr_nine>.bedroom{right:292px;top:367px}#ap_lr_nine>.hallway{right:379px;top:432px}#ap_lr_nine>.livingroom{right:302px;top:546px}#ap_lr_nine>.kitchen{right:425px;top:620px}#ap_lr_nine>.loggia{right:309px;top:664px}#ap_lr_nine>.loggia2{right:291px;top:248px}#ap_lr_nine>.bathroom{right:451px;top:522px}
#ap_lc>.hallway,#ap_rc>.hallway{right:368px;top:573px}#ap_lc>.livingroom,#ap_rc>.livingroom{right:460px;top:466px}#ap_lc>.kitchen,#ap_rc>.kitchen{right:316px;top:407px}#ap_lc>.loggia,#ap_rc>.loggia{right:305px;top:291px}#ap_lc>.bathroom,#ap_rc>.bathroom{right:293px;top:541px}
#ap_lcr{margin-right:60px}#ap_lcr>.hallway,#ap_rcr>.hallway{right:396px;top:534px}#ap_lcr>.livingroom,#ap_rcr>.livingroom{right:318px;top:419px}#ap_lcr>.kitchen,#ap_rcr>.kitchen{right:460px;top:373px}#ap_lcr>.loggia,#ap_rcr>.loggia{right:470px;top:254px}#ap_lcr>.bathroom,#ap_rcr>.bathroom{right:486px;top:502px}
#ap_rl>.bedroom{right:440px;top:374px}#ap_rl>.hallway{right:341px;top:431px}#ap_rl>.livingroom{right:427px;top:544px}#ap_rl>.kitchen{right:302px;top:624px}#ap_rl>.loggia{right:447px;top:247px}#ap_rl>.bathroom{right:286px;top:520px}
#ap_rl_nine>.bedroom{right:439px;top:364px}#ap_rl_nine>.hallway{right:341px;top:429px}#ap_rl_nine>.livingroom{right:425px;top:545px}#ap_rl_nine>.kitchen{right:300px;top:622px}#ap_rl_nine>.loggia{right:425px;top:664px}#ap_rl_nine>.loggia2{right:445px;top:247px}#ap_rl_nine>.bathroom{right:285px;top:522px}
#ap_rr>.hallway{right:450px;top:489px}#ap_rr>.livingroom{right:338px;top:398px}#ap_rr>.kitchen{right:314px;top:586px}#ap_rr>.loggia{right:355px;top:265px}#ap_rr>.bathroom{right:414px;top:609px}
#ap_rrb>.hallway{right:436px;top:333px}#ap_rrb>.livingroom{right:307px;top:398px}#ap_rrb>.kitchen{right:478px;top:456px}#ap_rrb>.loggia{right:332px;top:501px}#ap_rrb>.bathroom{right:512px;top:332px}
#of_lb>.office{right:397px;top:409px}#of_lbb>.office{right:399px;top:424px}#of_lrb>.office{right:323px;top:429px}#of_lt>.office{right:404px;top:421px}#of_rb>.office{right:368px;top:413px}#of_rlb>.office{right:389px;top:402px}#of_rr>.office{right:386px;top:411px}#of_rbl>.office{right:358px;top:411px}

/* territory page */
#territory{position:absolute;background:url('/images/territory.jpg') top center no-repeat;background-size:cover;width:100%;height:100%;left:0;top:0}
#territory-slogan{position:absolute;width:355px;height:110px;top:0;left:450px;padding-top:40px}
#territory-slogan>p{padding:0;margin:0;color:#fdfdfd;text-transform:uppercase;font-size:24px;font-family:Helvetica;line-height:100%}
#territory-point-left{left:195px;top:575px}#territory-point-center{left:651px;top:612px}#territory-point-right{right:178px;top:468px}
#territory-point-left,#territory-point-center,#territory-point-right{position:absolute;background:url('/images/sprite.png') -164px -650px no-repeat;width:45px;height:45px}
.territory-plate-left{width:275px;height:267px;left:83px;top:296px;padding:40px 28px 0 40px}.territory-plate-center{width:297px;height:287px;left:519px;top:302px;padding:70px 36px 0 53px}.territory-plate-right{width:275px;height:267px;right:58px;top:193px;padding:42px 32px 0 44px}
.territory-plate-left,.territory-plate-center,.territory-plate-right{position:absolute;background-color:rgba(255, 188, 1, 0.9);font-family:Verdana;font-size:14px;color:#fff;line-height:140%}
.territory-plate-left,.territory-plate-center,.territory-plate-right{display:none}
.points__button_left,.points__button_center,.points__button_right{cursor:pointer;-webkit-animation:rainbow 5s linear 5s infinite}
.points__close_left,.points__close_center,.points__close_right{background:url('/images/sprite.png') -182px -183px no-repeat;top:12px;height:25px;width:25px;right:12px;z-index:300}
/* */

.popup_wrap{cursor:default!important}
#popup-111 .popup{width:753px;background:#fff;margin:0}
.popup_wrap .popup{position:fixed;height:auto}
.popup_wrap .popup-center{top:25%;left:50%}
.popup_wrap .popup .relative{position:absolute;font-family:Helvetica}
.popup_wrap .popup .relative .close-popup{right:-80px!important;top:0!important}
.popup_wrap .relative{background:url('/images/shares-banner.jpg')}
.popup .relative{height:450px;width:100%;overflow:visible!important}
.popup-content{position:absolute;top:40px;right:135px;width:215px;height:135px;text-align:right}
.popup-content>sup{top:-.8em;font-size:60%}
.popup-nameplate {position:absolute;top:133px;right:-54px;width:260px;height:80px;text-align:left;-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}
.popup .relative h2{font-size:30px;color:#ffcc1a}.popup .relative h3{font-size:17px;color:#fff}
.popup .relative h2,.popup .relative h3{font-weight:bold;margin:0;text-transform:uppercase}
.popup .relative p{font-size:16px;color:#fefefe;margin:0 0 10px 0;padding:0;line-height:1.2em;text-shadow:1px 1px 2px rgba(0, 0, 0, 0.4)}

/* jce */
@media print{a.jcepopup span.jcemediabox-zoom-image{background:none!important;}}.jcepopup.hide,.jcepopup.noshow{display:none;}
#jcemediabox-popup-page,#jcemediabox-popup-overlay,#jcemediabox-popup-loader,#jcemediabox-popup-container,#jcemediabox-popup-content,#jcemediabox-popup-content,#jcemediabox-popup-iframe,#jcemediabox-popup-img{left:0;top:0;margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;height:100%;width:100%}
#jcemediabox-popup-overlay,#jcemediabox-popup-body,#jcemediabox-popup-container,#jcemediabox-popup-content{box-sizing:content-box}
#jcemediabox-popup-page{position:fixed!important;z-index:10000}#jcemediabox-popup-page.scrolling{position:absolute!important}
#jcemediabox-popup-overlay{position:absolute;cursor:pointer}
#jcemediabox-popup-frame,.popup_wrap{position:absolute;overflow:visible;width:100%;height:100%;background-color:rgba(56, 55, 55, 0.7);display:block;z-index:10001;cursor:pointer}
#jcemediabox-popup-body{position:relative;margin:0 auto;padding:0;border:0;outline:0;background-color:transparent;top:0!important;bottom:0;overflow:visible; width:580px!important;height:100%!important;z-index:10002; opacity:1; cursor:default;}
#jcemediabox-popup-container{overflow:hidden;}#jcemediabox-popup-content{width:100%;height:100%;}
#jcemediabox-popup-content p.media-support{font-size:20px;color:#888;font-weight:bold;text-align:center;height:100%;position:relative;top:50%;margin-top:-10px;}
#jcemediabox-popup-img,#jcemediabox-popup-iframe{text-align:center;}
#jcemediabox-popup-content>embed,#jcemediabox-popup-content>img{width:100%;height:auto;}
#jcemediabox-popup-page.ios #jcemediabox-popup-content,#jcemediabox-popup-page.android #jcemediabox-popup-content{overflow:scroll;}
#jcemediabox-popup-ajax{overflow:auto;border:0;padding:0;margin:0;width:auto;height:100%;background-color:#fff;position:relative;}
a.jcemediabox-image{line-height:0!important;font-size:0!important;}
.wf_caption a.jcepopup{display:block;}
a.jcepopup span.jcemediabox-zoom-span{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;cursor:pointer;display:inline-block;overflow:hidden;position:relative;float:none;}
a.jcepopup span.jcemediabox-zoom-image{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;display:block;background:transparent url(images/zoom-img.png) no-repeat bottom right;width:100%;height:100%;position:absolute;z-index:1;bottom:0;left:0;}
a.jcepopup span.jcemediabox-zoom-link,a.jcepopup span.jcemediabox-zoom-link.icon-right,a.jcepopup span.jcemediabox-zoom-link.zoom-right{padding-right:16px;background:transparent url(images/zoom-link.gif) no-repeat center right;display:inherit;}
a.jcepopup span.jcemediabox-zoom-link.icon-left,a.jcepopup span.jcemediabox-zoom-link.zoom-left{padding-left:18px;background:transparent url(images/zoom-link.gif) no-repeat center left;}
#jcemediabox-popup-caption,#jcemediabox-popup-caption h4,#jcemediabox-popup-caption p{margin:0;padding:0;border:0;}
a.jcepopup.ie6 span.jcemediabox-zoom-image{background:transparent url(images/zoom-img.png) no-repeat;width:20px;height:20px;left:auto;top:auto;right:0;}
a.jcepopup.ie6 span.jcemediabox-zoom-link{display:inline-block;}
a.jcepopup.ie6.icon-left span.jcemediabox-zoom-image,a.jcepopup.icon-bottom-left span.jcemediabox-zoom-image{top:auto;right:0;}
a.jcepopup.ie6.icon-top span.jcemediabox-zoom-image,a.jcepopup.icon-top-right span.jcemediabox-zoom-image{top:0;}
a.jcepopup.ie6.icon-left span.jcemediabox-zoom-image{left:0;right:auto;}
/* jce mediabox */
#jcemediabox-popup-loader{background:url('/images/loader3.gif') no-repeat center center;}
#jcemediabox-popup-closelink,.popup_wrap .popup .relative .close-popup{width:43px;height:43px;background:url('/images/sprite.png') -173px -174px no-repeat;top:30px;right:-85px;position:absolute;border:none;cursor:pointer;}
#jcemediabox-popup-nav{line-height:20px;background-color:transparent;}
#jcemediabox-popup-prev,#jcemediabox-popup-next{width:30px;height:30px;position:absolute;border:none;background-repeat:no-repeat;bottom:5px;}
#jcemediabox-popup-prev{background-image:url('/images/prev.png');left:5px;}#jcemediabox-popup-next{background-image:url('/images/next.png');right:5px;}
span#jcemediabox-popup-numbers{text-align:center;display:block;}
span#jcemediabox-popup-numbers:empty{line-height:0;min-height:0;}
span#jcemediabox-popup-numbers a{border:none;display:inline-block;margin:0 1px;width:20px;height:20px;}
span#jcemediabox-popup-numbers a:active,span#jcemediabox-popup-numbers a:visited,span#jcemediabox-popup-numbers a:link,span#jcemediabox-popup-numbers a:hover{font-weight:bold;text-decoration:none;color:#000;}
span#jcemediabox-popup-numbers a:hover{font-size:1.2em;}
span#jcemediabox-popup-numbers a.active{cursor:default;font-size:1.2em;}
#jcemediabox-popup-caption{padding:10px 10px 0;min-height:5px;background-color:#fff;}
#jcemediabox-popup-caption:empty{padding:0;min-height:0;}
#jcemediabox-popup-caption h4 a:active,#jcemediabox-popup-caption p a:active,#jcemediabox-popup-caption h4 a:hover,#jcemediabox-popup-caption p a:hover,#jcemediabox-popup-caption h4 a:visited,#jcemediabox-popup-caption p a:visited,#jcemediabox-popup-caption h4 a,#jcemediabox-popup-caption p a{color:#000;font-weight:bold;text-decoration:none;}
#jcemediabox-popup-page.ie7 #jcemediabox-popup-nav{height:10px;padding-top:0;}#jcemediabox-popup-page.ie6 #jcemediabox-popup-nav{height:10px;padding-top:0;}#jcemediabox-popup-page.ie6 #jcemediabox-popup-caption{margin-top:-1px;}#jcemediabox-popup-page.ios #jcemediabox-popup-caption{margin:-1px 0;}#jcemediabox-popup-page.ios #jcemediabox-popup-nav{margin-bottom:-1px;}

.flickity-enabled{position:relative}.flickity-enabled:focus{outline:0}
.flickity-viewport{overflow:hidden;position:relative;height:100%}
.flickity-slider{position:absolute;width:100%;height:100%}
.flickity-enabled.is-draggable{-webkit-tap-highlight-color:transparent;tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.flickity-enabled.is-draggable .flickity-viewport{cursor:move;cursor:-webkit-grab;cursor:grab}.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down{cursor:-webkit-grabbing;cursor:grabbing}
.flickity-prev-next-button{position:absolute;top:50%;width:125px;height:125px;border:none;cursor:pointer;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.flickity-prev-next-button:hover{opacity:0.8}.flickity-prev-next-button:focus{outline:0;box-shadow:0;border:0}.flickity-prev-next-button:active{filter:alpha(opacity=60);opacity:.6}
.flickity-prev-next-button.previous{left:50%;margin-left:-572px;background:url('/images/sprite.png') -1380px -918px no-repeat}.flickity-prev-next-button.next{right:50%;margin-right:-570px;background:url('/images/sprite.png') -1508px -918px no-repeat}
.flickity-rtl .flickity-prev-next-button.previous{left:auto;right:10px}.flickity-rtl .flickity-prev-next-button.next{right:auto;left:10px}
.flickity-prev-next-button:disabled{display:none;cursor:auto}.flickity-prev-next-button svg{display:none}.flickity-page-dots{display:none}.flickity-rtl .flickity-page-dots{direction:rtl}
.flickity-page-dots .dot{display:inline-block;width:10px;height:10px;margin:0 8px;background:#333;border-radius:50%;filter:alpha(opacity=25);opacity:.25;cursor:pointer}
.flickity-page-dots .dot.is-selected{filter:alpha(opacity=100);opacity:1}

.tabs{width:100%;height:100%;overflow:hidden;zoom:1;position:relative;margin:0;z-index:1}
.tabs dt{position:absolute;width:62px;height:62px;left:25%;bottom:114px;font-size:18px;color:#394049;cursor:pointer;border:0;background:none;z-index:200}
.tabs dt.selected{cursor:auto;color:#94c604;font-size:24px;vertical-align:middle;margin-top:-5px}
.tabs dd{display:none;float:right;width:100%;height:100%;position:relative;z-index:2;margin:0;line-height:1em}
.tabs dd.selected {display:block}
.tabs .tab-content{width:100%; height:100%; border:0;overflow:hidden;padding:0}
.tabs .moduletable {margin:0;padding:0;border:0}
dt#tab16,dt#tab16.selected{margin-left:62px}
.gallery-cell{margin:0 15px 0 15px;opacity:0.45}
.gallery-cell.is-selected{opacity:1}
.tabs_clr {clear:both;font-size:0;height:0;line-height:0}

div.gm-style-cc, div.gmnoprint, div.gmnoprint .gm-style-cc {display:none!important}

.banner_b.pensioneram{
    display: block;
    width: 400px;
    height: 200px;
    position: absolute;
    left: 126px;
    background-image: url(/images/b1.jpg);
    background-size: cover;
    z-index: 201;
    bottom: 126px;
}


.banner_b.uchetilyam{
    display: block;
    width: 400px;
    height: 200px;
    position: absolute;
    top: 126px;
    right: 126px;
    background-image: url(/images/b2.jpg);
    background-size: cover;
	z-index: 201;
}

.banner_b:hover{
	opacity: 0.9;
}

.bottombuttons{
    position: absolute;
    right: 450px;
    bottom: 0;
    z-index: 201;
	    height: 100px;
}

.bottombuttons .buttonpopup{
	display: inline-block;
    width: 100px;
    height: 100px;

}

.bottombuttons .voennaya-ipoteka{
    background-image: url(/images/a1.jpg);
    background-color: #1c9c61;
    background-size: auto 91%;
    background-position: 0 17px;
    background-repeat: no-repeat;
	
}

.bottombuttons .matkapital{
    background-image: url(/images/a2.jpg);
    background-color: #5294b4;
    background-size: auto 66%;
    background-position: left bottom;
    background-repeat: no-repeat;
}



@media (max-height: 890px) { 
	#home-links{
	    margin: 450px auto 0 auto;
	}
	
	.bottombuttons{
	    top: 704px;
		bottom: inherit;
	}
}


@media (max-height: 800px) { 
	#home-links{
	   margin: 280px auto 0 auto;
	}
	
	.bottombuttons{
	    top: 562px;
		bottom: inherit;
	}
}






.wrapper-energo {
    position: relative;
    margin: 7% 0px;
}