/* CSS reset */
.joombig_content body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
.joombig_content html,body {
	margin:0;
	padding:0;
}
.joombig_content table {
	border-collapse:collapse;
	border-spacing:0;
}
.joombig_content fieldset,img { 
	border:0;
}
.joombig_content input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
.joombig_content address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
.joombig_content ol,ul {
	list-style:none;
}
.joombig_content caption,th {
	text-align:left;
}
.joombig_content h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
.joombig_content q:before,q:after {
	content:'';
}
.joombig_content abbr,acronym { border:0;
}