.about-us__content__b, .about-us__content__b__sert {
    display: flex;
    justify-content: space-between;
}

.about-cont-a {
    color: #ce4622;
    padding-bottom: 1px;
    font-size: 16px;
}

.about-top {
    background-size: cover !important;
    width:100%;
    height: 670px;
    background: url('../images/home_contacts.png') top center no-repeat;
}

.about_bg_g {
    background: url(../images/spectr-uslug/bg_b.png) no-repeat;
    width: 100%;
    height: 185px;
    position: relative;
    top:646px;
}

.about-lead-title {
    font-family: "UniSansThin";
    font-size: 48px;
    font-weight: bold;
    color: #151527;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.about-us__content__b {
    position: relative;
    z-index: 100;
}

.slogan-text {
    font-style: italic;
}

.slogan-title {
    margin-bottom: 0px !important;
    margin-top: 90px;
}

.about-us__content__b__sert_a {
    padding-top: 18px;
    padding-left: 10px;
}

.about-us__content__b__sert_img {
    filter: invert();
}

.about-us__content__b__sert {
    margin-left: 100px;
}

.gallery-about {
    display: flex;
}

.gallery-about_c {
    max-width: 1000px;
    max-height: 800px;
    margin-right: 50px;
    margin-left: 30%;
}

.gallery-about_r {
    width: 100px;
    max-height: 600px;
    overflow: scroll;
    padding-right: 30px;
    overflow-x: hidden;
}

.gallery-about_r__images > img {
    width: 85px;
    height: 85px;
    background-size: cover;
}

.active-images {
    border: 2px solid #ce4622;
    padding: 4px;
}

.gallery-about_c__image {
    width: 100%;
    height: 100%;
}

.gallery-about_r::-webkit-scrollbar{
    display: none;
}

.gallery-about .mfp-close {
    display: block !important;
    position: relative;
    color: #ce4622 !important;
    font-size: 60px;
    font-weight: 100;
    font-family: UniSansThin;
    margin-left: 20px;
    top: -10px;
}

.lead {
    position: relative;
    width: 860px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.about-lead {
    top: 500px;
    position: relative;

}

.about-container-centr {
    background: url('../images/about/bg_center.png') no-repeat;
    height: 100%;
    width: 100%;
    position: relative;
    top: 42px;
}

.about-container-bottom-centr {
    background: url('../images/about/bg_bottom_sotr.png') no-repeat;
    height: 1420px;
    width: 100%;
    position: absolute;
    top: 598px;
}

.about-us-reviews {
    background: url('../images/reviews/bg.png');
    height: 1208px;
    width: 100%;
}

.about-us-reviews-small-img {
    width: 350px;
    height: 500px;
-webkit-box-shadow: 4px 4px 13px 0px rgba(0,0,0,0.42);
-moz-box-shadow: 4px 4px 13px 0px rgba(0,0,0,0.42);
box-shadow: 4px 4px 13px 0px rgba(0,0,0,0.42);
}

.about-us-reviews-small-images-content {
    background: url('../images/about/bg_bottom_sotr.png');
    position: relative;
    height: 1331px;
    top: 46px;
}

.about-us-reviews-small-images-container {
    display: flex;
    justify-content: space-between;
}

.about-us-reviews-small-images-container-item-text {
    font-family: RobotoLight;
    font-size: 18px;
    line-height: 24px;
    text-decoration: underline;
}

.about_reviews_bg_g {
    background: url(../images/spectr-uslug/bg_b.png) no-repeat;
    width: 100%;
    height: 185px;
    position: relative;
    top: -140px;
}

.about-us-reviews-title {
    font-family: "UniSansThin";
    font-size: 48px;
    text-transform: uppercase;
    text-align: right;
    font-weight: bold;
    margin-bottom: 100px;
}

.about-us-reviews-small-img-modal {
    position: relative;
    height: 850px;
    margin: 0 auto;
}

.about-us-reviews-small-images {
    top: 405px;
}

.lead-photo__6 {
    background: url('../images/about/notImage.png');
}
.lead-photo__5 {
    background: url('../images/about/gur_alexander.png');
}
.lead-photo__4 {
    background: url('../images/about/dmitriy.png');
}
.lead-photo__3 {
    background: url('../images/about/alexander.png');
}
.lead-photo__2 {
    background: url('../images/about/zinur.png');
}
.lead-photo__1 {
    background: url('../images/about/sergey.png');
}

.about-top-menu {
    position: absolute;
    top: 85px;
    left: 39%;
    padding-left: 11px;
    z-index: 100;
}

.about-us-reviews-top-title {
    position: absolute;
    left: 10%;
    color: white;
    top: 283px;
}

@media (max-width: 1200px) {
    .about-top-menu {
        left: 42%;
    }
}

@media (min-width: 2000px) {
    .about-container-centr, .about-us {
        background-size: cover;
    }

    .about-us-reviews, .about-us-reviews-small-images-content {
        background-size: cover;
    }

    .services-top {
        background-size: cover;
    }

    .about-us-reviews-small-images {
        top: 480px;
    }

    .services-top__links {
        max-width: 1100px !important;
    }

    .services-article {
        top: 40px !important;
    }

    #services .tab-content {
        top: 80px !important;
    }

    .spectr_bg_g {
        position: relative;
        top: 100px;
    }

    .footer-spectrs {
        top: 100px;
    }

    .about-container-bottom-centr {
        top: 600px;
        background-size: cover;
    }

    .about_bg_g {
        /*top: 2043px;*/
        z-index: 100;
    }

    .gallery-about_c {
        max-height: 1200px;
    }


    /*.footer-about {*/
        /*top: 2218px !important;*/
    /*}*/

}
/*@media (min-width: 2300px) {*/
    /*.lead {*/
        /*position: relative;*/
        /*top: 80px;*/
    /*}*/
    /*.slogan {*/
        /*top: 360px !important;*/
    /*}*/
    /*.about-us__content__b {*/
        /*top: 700px !important;*/
    /*}*/
/*}*/
/*@media (min-width: 2400px) {*/
    /*.lead {*/
        /*position: relative;*/
        /*top: 140px;*/
    /*}*/
    /*.about-lead {*/
        /*top: 986px;*/
    /*}*/
/*}*/
/*@media (min-width: 2500px) {*/
    /*.lead {*/
        /*position: relative;*/
        /*top: 230px;*/
    /*}*/
    /*.about-lead {*/
        /*top: 850px;*/
    /*}*/
/*}*/