.cbp-bislideshow{list-style:none;width:100%;height:100%; /*position:fixed;*/ top:0;left:0;right:0;bottom:0;padding:0;margin:0;z-index:-1}
.cbp-bislideshow li{position:absolute;width:100%;height:100%;top:0;left:0;right:0;bottom:0;opacity:0;-webkit-transition:opacity 1s;-moz-transition:opacity 1s;transition:opacity 1s;background-image:none !important}
.backgroundsize .cbp-bislideshow li{-webkit-background-size:cover;-moz-background-size:cover; background-size:cover; background-position:top center}
.backgroundsize .cbp-bislideshow li img{display:none}
.cbp-bicontrols{position:absolute;width:100%;height:25px;margin:-32px 0 0 0;top:50%;left:0}
.cbp-bicontrols span{cursor:pointer}
.cbp-bicontrols span:before{position:absolute;width:100%;height:100%;top:0;left:0;opacity:0.7}
.cbp-bicontrols span:hover:before{opacity:1}
span.cbp-binext{right:60px;background:url('../images/sprite.png') -259px 0px no-repeat}
span.cbp-biprev{left:15px;background:url('../images/sprite.png') -259px -25px no-repeat}
span.cbp-binext,span.cbp-biprev{position:absolute;width:48px;height:24px;top:0;z-index:100}
span.cbp-binext:hover,span.cbp-biprev:hover{opacity:0.8;-webkit-transition:all 0.5s ease; -moz-transition:all 0.5s ease; -ms-transition:all 0.5s ease; -o-transition:all 0.5s ease; transition:all 0.5s ease}
.cbp-bicontrols{z-index:210}
/* Fallback */
.no-js.no-backgroundsize .cbp-bislideshow li:first-child{opacity:1}
.no-js.backgroundsize .cbp-bislideshow li:first-child img{display:block}