.contacts__title {
    color: white;
    top: 40%;
    position: relative;
        margin-left: 10%;
}

.about-cont__title {
    font-size: 24px;
    margin-bottom: 23px;
}

.about-cont__text {
    font-size: 16px;
    margin-bottom: 15px;
}
.about-cont-left__text_s_dir {
    color: #ce4622 ;
}
.about-cont-left__text_s {
    color: #ce4622 ;
    padding-bottom: 1px;
}

.about-cont-left__item {
    margin-bottom: 50px;
}

.about-cont-left, .about-cont-center, .about-cont-right {
    position: relative;
    height: 600px;
}

.about-cont-left {
    margin-right: 200px;
}
.about-cont-center {
    position: relative;
    top: 91px;
}

.about-cont {
    display: flex;
    top: 340px;
    position: relative;
    justify-content: space-between;
}

.about-cont-right {
    padding-top: 150px;
}

.contacts__cont__title {
    position: relative;
    top: 466px;
    margin-left: 45%;
    text-align: right;
}

.about-cont-right__item {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.about-cont-right__item_a {
    margin-left: 10px;
    color: #343444;
    text-decoration: none;
}

.about-cont-right__item_a:hover {
    color: #ce4622;
}

.about-cont-right__item__i {
    width: 40px;
}

.footer-contacts {
    position: relative;
    width: 100%;
    height: 70px;
    border-top: 1px solid #e8e8e8;
    top: 100px;
}

.footer-oul {
    position: absolute;
    width: 100%;
    top: 1200px;
    height: 70px;
    border-top: 1px solid #e8e8e8;
}
.footer-about {
    position: absolute;
    width: 100%;
    top: 2060px;
    height: 70px;
    border-top: 1px solid #e8e8e8;
}
.footer-reviews {
    position: absolute;
    width: 100%;
    top: 1376px;
    height: 70px;
    border-top: 1px solid #e8e8e8;
}

.footer__content {
    display: flex;
    align-items: center;
}

.foot__items {
    margin-right: 120px;
}

.request {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 430px;
    height: 520px;
    margin-left: -232px;
    margin-top: -220px;
    background: #ee4419;
}

.request .mfp-close {
    display: block !important;
    left: 460px;
    color: #ce4622;
    font-size: 60px;
    top: -10px;
    font-weight: 100;
    font-family: UniSansThin;
}


.request__content {
    padding-top: 15px;
    text-align: center;
}

.request__content_input::placeholder {
    color: white;
}
.request__content_input {
    border: none;
    background: none;
    border-bottom: 1px solid white;
    margin-bottom: 22px;
    width: 320px;
    margin-top: 22px;
    font-size: 16px;
    color: white;
}

.request__title {
    color: white;
    font-size: 40px;
    margin-top: 84px;
}

.request__content__button {
    margin-top: 30px;
    text-align: right;
    margin-right: 40px;
}

.request__content__button_b {
    border: none;
    background: none;
    color: white;
    font-size: 17px;
}

.contacts_map {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1400px;
    height: 600px;
    margin-left: -700px;
    margin-top: -350px;
    padding-left: 20px;
    padding-right: 20px;
}

.about-cont-left__item__photo_one {
    background: url('../images/contacts_person/dir.png');
}
.about-cont-left__item__photo_two {
    background: url('../images/contacts_person/energo.png');
}
.about-cont-left__item__photo_three {
    background: url('../images/contacts_person/rza.png');
}
.about-cont-left__item__photo_one, .about-cont-left__item__photo_two, .about-cont-left__item__photo_three {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    left: 30%;
    margin-left: -50px;
}

@media (min-width: 2100px) {
    .about-cont {
        top: 450px;
    }
    .contacts__cont__title {
        top: 500px;
    }
}

@media (max-width: 1400px) {
    .contacts_map {
width: 1000px !important;
margin-left: -500px !important;
height: 500px;
    margin-top: -250px;
}
}

@media (max-width: 1024px) {
    .contacts_map {
width: 700px !important;
margin-left: -350px !important;
}
}

@media (max-width: 800px) {
    .contacts_map {
width: 500px !important;
margin-left: -250px !important;
}
}

@media (max-width: 600px) {
    .contacts_map {
width: 400px !important;
margin-left: -200px !important;
}
}

@media (max-width: 500px) {
    .contacts_map {
width: 300px !important;
margin-left: -150px !important;
}
}