body, html {font-size:100%;padding:0;margin:0;}

/* Reset */
*,
*:after,
*:before {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {content:" ";display:table;}
.clearfix:after {clear:both;}
.main{position:absolute;width:100%;min-width:800px;left:0;right:0;top:0;bottom:0;overflow:hidden;}
