.home_map__content {
    margin: 450px 0px 0px 20%;
}

.home_map__content__tittle {
    font-size: 48px;
    margin-bottom: 30px!important;
}

.home_map__content__text {
    font-size: 13px;
    margin-left: 9px;
    margin-bottom: 24px;
}

.home_map__content__text__tel {
    font-size: 23px;
}

.home_map__content__text__a {
    color: #fa5224;
    font-size: 14px;
}

@media (max-width: 1900px) {
    .home_map__content {
        margin: 471px 0px 0px 19%;
    }
}

@media (max-width: 1800px) {
    .home_map__content {
        margin: 471px 0px 0px 18%;
    }
}

@media (max-width: 1700px) {
    .home_map__content {
        margin: 471px 0px 0px 17%;
    }
}

@media (max-width: 1600px) {
    .home_map__content {
        margin: 471px 0px 0px 14%;
    }
}
@media (max-width: 1500px) {
    .home_map__content {
        margin: 471px 0px 0px 12%;
    }
}

@media (max-width: 1400px) {
    .home_map__content {
        margin: 471px 0px 0px 9%;
    }
}


@media (max-width: 1250px) {
    .home_map__content {
    margin: 471px 0px 0px 4%;
}
}