.home_services__content__c_ul {
    list-style-type: none;
    height: 300px;
}

.home_services__content__l_a_span {
    color: #ce4622;
    margin-right: 20px;
}
.home_services__content__l_a {
    width: 170px;
    height: 30px;

    background: rgba(0, 0, 0, 0.82);
    display: block;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
}

.home_services__content__l_a:hover {
    background: #aaaaaa;
    transition: 0.3s;
}

.home_services__content__l_a_active {
    background: #e25d39;
    pointer-events: none;
    cursor: default;
}



.home_services__title {
    text-align: right;
    width: 70%;
    font-size: 48px;
    margin-bottom: 60px!important;
    margin-top: 50px;
}

.home_services__content__l_a_conainer {
    display: flex;
}

.home_services__content__c_ul_li{
    margin-bottom: 30px;
    font-size: 17px;
    display: flex;
}
.home_services__content__container {
    display: flex;
    justify-content: space-between;
}

.slogan-home-title {
    margin: .67em 0 !important;
    color: white !important;
}

.home_services__content {
    padding-left: 10%;
    padding-right: 10%;
}
.home_services__content__l {
    margin-right: 180px;
    margin-top: 80px;
}

.home_services__content__c {
    max-width: 400px;
    margin-right: 30px;
}

@media (max-width: 1024px) {
    .home_services__content__l {
        margin-right: 100px;
    }
}
@media (min-width: 2100px) {
    .home_services__content__l {
        margin-right: 270px;
    }
}
@media (min-width: 2200px) {
    .home_services__content__l {
        margin-right: 370px;
        margin-top: 45px;
    }
    .home_services__title {
        margin-top: 90px;
    }
}
@media (min-width: 2300px) {
    .home_services__content__l {
        margin-right: 430px;
        margin-top: 12px;
    }
    .home_services__title {
        margin-top: 110px;
    }
}
@media (min-width: 2400px) {
    .home_services__content__l {
        margin-right: 500px;
        margin-top: -15px;
    }
    .home_services__title {
        margin-top: 140px;
    }
}
@media (min-width: 2500px) {
    .home_services__content__l {
        margin-right: 570px;
    }
    .home_services__title {
        margin-bottom: 66px;
        margin-top: 185px;
    }
}