.home_partners_cont {
    margin-left: 10%;
    top: 350px;
    color: white;
    position: relative;
}

.home_partners_links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.home_partners_links__item {
    margin-right: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home_partners_links__img {
    height: 100px;
    display: flex;
    align-items: center;
}

.home_partners_links__item_a {
    color: #777886;
}