.home_projects__container__item_1_count {
    font-size: 115px;
    line-height: 115px;
}
.home_projects__container__item_1_label {
    font-size: 36px;
    text-transform: uppercase;
    text-align: right;
    margin-top: 23px;
    line-height: 35px;
}
.home_projects__container__item {
    padding-right: 50px;
}
.home_projects__container__item_2_count {
    font-size: 44px;
    line-height: 45px;
    margin-top: 40px;
}
.home_projects__container__item_2_label {
    font-size: 17px;
    line-height: 10px;
}

.home_projects__container__item_1_count_365_small, .home_projects__container__item_1_count_19, .home_projects__container__item_1_count_1081 {
    font-size: 65px;
}
.home_projects__container__item_1_count_365 {
    font-size: 155px;
}

.home_projects__container__item:last-child {
    padding-left: 50px;
}
.home_projects__container__item:first-child {
    margin-left: 26%;
    margin-top: 23px;
    border-right: 1px solid #f1a890;
}
.home_projects__title {
    margin-left: 10%;
}
.home_projects__container {
    display: flex;
}
.home_projects__content {
    margin-top: 340px;
    color: white;
    margin-left: 71px;
}

@media (min-width: 2000px) {
    .home_projects__content {
        margin-top: 270px;
    }
}
@media (min-width: 2350px) {
    .home_projects__content {
        margin-top: 160px;
    }
}