.spectr-uslug-header {
    text-transform: uppercase;
    font-size: 18px;
}
.spectr-uslug-text {
    font-size: 18px;
}
.tab-content__image {
    position: relative;
    top: 430px;
    width: 350px;
}

.tab-content {
    display: flex;
    z-index: 10;
    margin-top: 230px !important;
    overflow: hidden;
    height: 1465px;
    justify-content: space-between;
}

.spectr_bg_g {
    background: url('../images/spectr-uslug/bg_b.png') no-repeat;
    width: 100%;
    height: 185px;
    position: relative;
}

.tabs-item {
    display: none;
    height: 1230px;
}

.services-top__links {
    position: relative;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    max-width: 810px;
    margin-left: 31%;
}
.tab-article {
    position: relative;
    margin: 6px;
    cursor: pointer;
    font-size: 15px;
    font-family: Helvetica;
    color: #a1a1a1;
    text-decoration: underline;
}
.tab-active {
    color: #e97020;
}


.footer-spectrs {
    position: relative;
    width: 100%;
    height: 70px;
    border-top: 1px solid #e8e8e8;
}