html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin:0;padding:0;border:0;font-size:100%;-ms-text-size-adjust:100%;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {display:block;}
audio,canvas,video {display:inline;zoom:1;}
audio:not([controls]) {display:none;height:0;}
[hidden] {display:none;}
button,input,select,textarea {font-family:sans-serif;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display:block;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after {content:''; content:none;}
table {border-collapse:collapse; border-spacing:0;}
a:focus {outline:thin dotted;}
/*a:active,a:hover {outline:0;}*/
abbr[title] {border-bottom:1px dotted;}
b,strong {font-weight:bold;}
p,pre {margin:1em 0;}
code,kbd,pre,samp {font-family:monospace, serif;font-size:1em;}
pre {white-space:pre-wrap;word-wrap:break-word;}
q {quotes:none;}
q:before,q:after {content:none;}
small {font-size:80%;}
sub,sup {font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup {top:-.5em;}
sub {bottom:-.25em;}
dl,menu,ol,ul {margin:1em 0;}
dd {margin:0;}
menu,ol,ul {padding:0;}
nav ul,nav ol {list-style:none;list-style-image:none;}
img {border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root) {overflow:hidden;}
figure {margin:0;}
form {margin:0;}
fieldset {border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em;}
legend {border:0;white-space:normal;margin-left:-7px;padding:0;}
button,input,select,textarea {font-size:100%;vertical-align:middle;margin:0;}
button,input {line-height:normal;}
button,html input[type=button],
input[type=reset],input[type=submit] {-webkit-appearance:button;cursor:pointer;overflow:visible;}
button[disabled],input[disabled] {cursor:default;}
input[type=checkbox],input[type=radio] {box-sizing:border-box;height:13px;width:13px;padding:0;}
input[type=search] {-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner {border:0;padding:0;}
textarea {overflow:auto;vertical-align:top;}
table {border-collapse:collapse;border-spacing:0;}

body{margin:0;font-family:RobotoLight,sans-serif;font-size:14px;position:relative;color:#000;min-width:1165px;/*min-height:799px;*/width:100%;height:100%;line-height:1.5;background-color:#fff;background-repeat:repeat}
*,a:focus{outline:none}
img {display:block}
a{font-family:RobotoLight;color:inherit}
a:hover{text-decoration:none}
.mobile *{-webkit-backface-visibility:hidden}
h1,h2,h3{font-family: 'RobotoLight';text-transform: uppercase; margin:0;padding:0;font-weight:normal;line-height:110%}
ul,ol{padding-left:20px}
.jspPane>div>*:first-child{margin-top:115px}
html{width:100%;height:100%}
.mfp-close {display: none !important;}
.css_ani{-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease}
#body_frame,#centrer1,#centrer2,.bg_img,.load_frame,.scroll_frame,.popup_overlay,.div_100{position:absolute;height:100%;width:100%;top:0;left:0}
#body_frame,.load_frame{overflow:hidden}
#bg_video{display:none}
#bg_video,#bg_video>*{width:100%!important;height:100%!important}
.popup_overlay{display:none;z-index:8010}
.close_btn,a.fancybox-close{position:absolute;width:36px;height:36px;cursor:pointer}
.small_close{width:33px;height:33px;background-position:-824px -5px}
.browser_scroll{overflow:auto}
.p_item .div_100{width:110%;height:110%;left:-5%;top:-5%}
::-webkit-input-placeholder,::-moz-placeholder,:-moz-placeholder,:-ms-input-placeholder{color:#FFF}
/*#banner{background:url('/images/banner.png')0 0 no-repeat;width:292px;height:124px;position:absolute;bottom:235px;right:20px;text-indent:-9999px;z-index:1000}*/
/* typography */
h1{ font-size:2em;}
h2{ font-size:1.5em;margin:.83em 0;}
h3{ font-size:1.17em;margin:1em 0;}

/* slide out menu */
#nav{font-family:Helvetica, Arial, sans-serif;color:#fefefe;width:578px;height:47px;margin:0 0 12px 0;padding:13px 100px 0 0;display:block;text-transform:uppercase;font-size:26px;text-align:right;overflow:hidden;zoom:1;cursor:pointer;-webkit-transition:ease 0.3s;-moz-transition:ease 0.3s;-o-transition:ease 0.3s;-ms-transition:ease 0.3s;transition:ease 0.3s}
#nav::after{content:none;background:none}
#nav:hover{color:#fff;opacity:0.7}
#nav span{float:right;display:block;top:0;right:0;width:51px;margin-top:0;padding:0 15px 15px 20px;color:#fff;font-size:26px;-webkit-transition:ease 0.3s;-moz-transition:ease 0.3s;-o-transition:ease 0.3s;-ms-transition:ease 0.3s;transition:ease 0.3s}
/* end of slide out menu */

/* links/buttons */
a,a:hover,a.active,div:hover,a span:hover,.tab-buttons span:hover{-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out}
a{font-family:Helvetica, Arial, sans-serif;font-size:13px;line-height:1;color:#fefefe;}
a.button{font-size:14px;color:#fff;width:171px;text-align:center;position:relative;display:block;text-decoration:none}

.center{position:relative;width:1165px;margin:0 auto; padding: 0px 30px;}
.height{/*min-height:799px*/}
.nav {position:absolute!important;margin:0!important;width:150px !important;height:200px !important;left:-9999px;bottom:-9999px;content:"";z-index:0}

/* all pages */
div.item-page {min-height:799px}
/*#mask{position:absolute;background:url('/images/mask.png') center center no-repeat;width:100%;height:100%;top:0;left:0;background-size:cover;z-index:2;}*/
#logo{position:relative;float:left;background:url('../images/sprite.png') 0 0 no-repeat;width:244px;height:48px;top:30px;text-indent:-9999px;z-index:100}
#logo:hover{opacity:.8}
.abs{position:absolute}
.topmenu{
    width: 94%;
    margin-left: 6%;
    height: 100px;
    top: 0;
    z-index: 100;
}
.topmenu_links{float:left;width:310px;height:100%;margin-left:100px;padding-top:50px}
.topmenu_links a{float:left;position:relative;margin:10px;text-transform:uppercase;font-family:"RobotoRegular";z-index:100}
.topmenu_links a:hover,.topmenu_links a:focus,.topmenu_links a:active{color:#ce4622!important}
.topmenu_phone{float:right;position:relative;width:200px;margin: 45px 0 0 0;text-align:right;z-index:30}
.topmenu_phone p{margin:0;font-family:"RobotoLight";font-size:24px;color:#e97020}
.topmenu_phone span{color:#fefefe}
.topmenu_phone a{color:#a1a1a1;text-decoration:underline}
.topmenu_phone a:hover{color:#e97020;text-decoration:none}
/* */

/* homepage */
#home {position:absolute; width:100%; height:100%; top:0; left:0;}
#home-content{position:absolute; background:url('../images/sprite.png') -480px -535px no-repeat; width:610px; height:510px; top:139px; left:35px; z-index:200;}
.logotype {position:absolute; background:url('../images/sprite.png') 0 -363px no-repeat; left:50px; top:200px; width:500px; height:158px; text-indent:-9999px; z-index:100;}
span#heat{float:left;width:37px;height:48px;background-position:-311px -747px !important;margin:3px 0 12px 0px;}

.advantages_home{    height: 140px;
    bottom: 30px;
    font-size: 14px;
    color: #a1a1a1;
    z-index: 30;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    top: 500px;}
.advantages_home div{position:relative;display:inline-block;width:240px;height:140px;margin-right:22px;padding-top:50px;overflow:hidden;cursor:pointer}
.advantages_home div:hover{opacity:.8}
.advantages_home h3{color:#fefefe;font-size:14px;font-weight:bold;text-transform:uppercase}
.advantages_home h3 span{color:#ce4622}
.advantages_home em{width:46px;height:46px;margin:0;top:0;left:0;background:url('../images/sprite.png') no-repeat}
.advantages_home p{line-height:1.2;margin:0}
.quality_home em{background-position:-1px -48px}
.price_home em{background-position:-48px -48px}
.date_home em{background-position:-93px -48px;width:39px}
.discounts_home{width:260px!important}
.discounts_home em{background-position:-132px -48px}
#cbp-bislideshow .slogan{top:50%;left:10%;margin-top:-80px;text-align:left;width:680px;height:160px;font-family:"UniSansThin";color:#fff}
#cbp-bislideshow .slogan h1{font-weight:bold;font-size:2.2em}


.banner,.metrika{width:0;height:0;position:absolute;top:-9999px;}
/* */

/* about */
#about,#services{width:100%;height: 1440px;top:0;left:0;z-index:1;position: relative;}
#about-content,#services-content{width:870px;height:1400px;top:530px;left:50%;margin-left:-435px;font-family:"UniSansThin";z-index:2}
.about-us,.services-top{width:100%;z-index:1}
.about-us{background: url('../images/about/bg_top.png') no-repeat}
.about-middle{height:1421px;background:url('../images/about-middle.jpg') top center no-repeat;}
.services-top{height:582px;background:url('../images/services-bg.png') top center no-repeat;}

.about-us-reviews h1,.services-top h1{color:#fefefe;font-family:"UniSansThin";font-size:48px;text-transform:uppercase}
.slogan{    right: 53%;
    margin-right: -490px;
    height: 140px;
    text-align: right;}
.slogan span{color:#ce4622}
h1.about-article,h1.services-article{        width: 323px;
    height: 52px;
    position: relative;
    font-weight: bold;
    color: white;
    top: 110px;
    }

h1.about-article {
    top: 241px;
}
.lead h1{font-family:"UniSansThin";font-size:48px;font-weight:bold;color:#151527;text-align:center;text-transform:uppercase}
.lead-cont{float:left;width:235px;height:350px;margin:15px 25px}
.lead-photo-left,.lead-photo-right,.lead-photo-center,.lead-photo-bottom-left,.lead-photo-bottom-right{float:left;width:235px;height:235px;margin-bottom:15px}
.lead-photo-center{background-position:-234px 0}
.lead-photo-right{background-position:-470px 0}
.lead-photo-bottom-left{background-position:0 -237px}
.lead-photo-bottom-right{background-position:-234px -234px}
.lead-fio{float:left;width:100%;height:auto;text-align:center}
.lead-fio h2{font-weight:bold}
.lead-fio span{color:#ce4622}
.certificates{float:left;width:100%;height:205px;margin:55px 0 25px 0}
.cert-left,.cert-center,.cert-right{float:left;width:282px;height:205px;margin:0px 2px;background:url('../images/about-us-sprites.png') no-repeat;}
.cert-left{background-position:0 -483px}
.cert-center{background-position:-282px -483px}
.cert-right{background-position:0 -688px}

.foot{background-color:rgba(254, 254, 254, 1);bottom:0px;margin-left:10%;color:#262532;font-size:12px;/*font-family:"UniSansThin";*/z-index:100}
.foot hr{position:absolute;left:0;top:-5px}
.foot a{color:#262532}
.copy{left:10%;width:350px}
.adr{left:50%;width:140px;margin-left:-70px}
.tel{right:20%;width:130px;font-size:130%}

hr{width:100%;margin:0;border:none;height:1px;background:#e8e8e8}
/* */

/* services */
#services .center{height: 100%;}
#services .tab-content,#services .tabs dd,#about .tab-content,#about .tabs dd{position:absolute;right:0;top:0}
#services .tabs dt,#about .tabs dt{width:auto;margin:4px 8px 4px 8px;font-size:14px;text-decoration:underline;text-transform:none}
#services .tab-content h1,#about .tab-content h1{text-transform:uppercase;font-family:"UniSansThin";font-size:48px;font-weight:bold;color:#151527;text-align:right;margin:62px 0;line-height:130%}
#about .tab-content p{margin:1.8em 0}
.art{font-size:1.12em;margin:40px 0!important}
.art-bottom{margin:70px 0 30px 0!important}
.art-bottom p{margin:1em 0!important}
#tabs1{height:2045px;font-family:"RobotoLight"}
#tabs1 p{font-size:120%;line-height:1.3em;margin:1em 0!important}
#tabs2{height:1200px;}
.tab-cont em{position:relative;float:left;background:url('../images/sprite.png') -178px -48px no-repeat;width:17px;height:1px;margin:13px 10px 0 0}
.remont-spec-tehniki{background:url('../images/works/remont-spec-tehniki.jpg') 0 0 no-repeat;width:350px;height:469px;top:430px;left:0}
.tab-cont{width:600px;top:175px;position: relative; left:50px;font-size: 18px;}
.tab-links{width:135px;height:110px;top:400px;right: -25px;position: relative;}
.tab-links a{width:100%;color:#151527;text-decoration:underline;}
.tab-links__item {display: flex;margin:30px 0;}
.tab-price {margin-top: 18px;margin-left: 10px;}
.tab-order {margin-top: 5px;margin-left: 10px;}
/* */

.prefoot{width:100%;height:650px;left:0;top:-650px;background: url(../images/services-prefoot.jpg) left top no-repeat}

/* mortgage */
#mortgage-container{position:absolute;width:766px;height:385px;top:270px;left:330px;z-index:200}
#mortgage-navi{position:absolute;width:255px;height:386px;left:0;top:0}
#mortgage-navi>a{width:125px;height:125px;background-color:#fff;text-indent:-9999px}
#mortgage-navi>a:hover{opacity:0.6}
#mortgage-navi>a>span{float:left;background:url('../images/sprite.png') no-repeat}
a#mortgage-sbrf{float:left}
a#mortgage-sbrf>span{background-position:-231px -75px!important;width:82px;height:63px;margin:27px 0 0 25px}
a.mortgage-bm{float:left;margin-top:5px;}
a.mortgage-bm>span{background-position:-229px -138px!important;width:86px;height:67px;margin:28px 0 0 20px}
a.mortgage-vtb24{float:right;margin:0 0 5px 5px;}
a.mortgage-vtb24>span{background-position:-227px -207px!important;width:91px;height:25px;margin:48px 0 0 17px}
a.mortgage-rshb{float:right;margin-left:5px;}
a.mortgage-rshb>span{background-position:-314px -73px!important;width:103px;height:64px;margin:30px 0 0 11px}
a.mortgage-gazprom{float:right;margin-top:5px;}
a.mortgage-gazprom>span{background-position:-321px -137px!important;width:98px;height:70px;margin:26px 0 0 13px}
#mortgage-content {position:absolute; width:380px; height:386px; left:260px; top:0; padding:75px 50px 0 56px; background-color:#3f72d0; font-family:Verdana; font-size:16px; color:#fff; line-height:120%;}
#mortgage-content>h1 {font-family:Verdana; font-weight:bold; font-size:30px; color:#fff; margin:0; padding:0; text-transform:uppercase;}
.mortgage_steps__button,.mortgage_start__button{position:absolute;width:126px;height:126px;top:127px;right:0;padding-top:85px;background-color:#f59f14;font-family:Helvetica;font-size:12px;text-transform:uppercase;color:#fff;text-align:center;cursor:pointer;z-index:201;}
.mortgage_steps__button>span,.mortgage_start__button>span {position:absolute; background:url('../images/sprite.png') -64px -296px no-repeat; width:60px; height:47px; left:32px; bottom:54px; pointer-events:none;}
.mortgage_steps__button:hover, .mortgage_docs__button:hover,.mortgage_start__button:hover {opacity:0.7;}

.callback__button{position:absolute;width:126px;height:26px;top:63px;right:44px;font-family:"RobotoLight";font-size:14px;color:#a1a1a1;text-decoration:underline;cursor:pointer;z-index:201;}
.callback__button:hover{color:#e97020;text-decoration:none}


#steps-container {position:absolute; width:506px; height:100%; left:0; top:0; background:#3f72d0; font-family:Verdana; color:#fff;}
#steps-container h2 {font-family:Verdana; font-size:17px; font-weight:normal; margin:55px 0 35px 0; padding:0 103px 0 69px; text-transform:uppercase; line-height:130%;}
.step1 {float:left; width:100%; height:75px;}
.step2 {float:left; width:100%; height:120px; background-color:#4f7dde;}
.step3 {float:left; width:100%; height:82px;}
.step4 {float:left; width:100%; height:84px; background-color:#4f7dde;}
.step5 {float:left; width:100%; height:79px;}
.step6 {float:left; width:100%; height:84px; background-color:#4f7dde;}
.step1, .step2, .step3, .step4, .step5, .step6 {padding:0 40px;}

.step-left {float:left; width:80px; height:100%; font-size:10px; opacity:0.6;}
.step-left p {width:30px; margin:0; font-weight:bold; text-align:center; line-height:1.7em; text-transform:uppercase;}
.step-left p {font-family:Helvetica; font-size:14px; margin:0; padding:0;}
.step-left p span, .step-right p span {font-size:24px; margin:0; padding:0;}
.step-right {float:right; width:330px; height:100%;}
.step-right p {margin:0; padding:0;}

.step1>.step-left, .step5>.step-left {padding-top:15px;}
.step2>.step-left {padding-top:37px;}
.step3>.step-left, .step4>.step-left, .step6>.step-left {padding-top:17px;}

.step1>.step-right {padding-top:15px;}
.step2>.step-right {padding-top:5px;}
.step3>.step-right {padding-top:20px;}
.step4>.step-right {padding-top:8px;}
.step5>.step-right, .step6>.step-right {padding-top:17px;}

.mortgage_docs__button {position:absolute; width:126px; height:126px; bottom:239px; right:0; padding-top:81px; background-color:#f59f14; font-family:Helvetica; font-size:12px; text-transform:uppercase; color:#fff; text-align:center; cursor:pointer; z-index:201;}
.mortgage_docs__button>span {position:absolute; background:url('../images/sprite.png') -184px -67px no-repeat; width:39px; height:43px; left:44px; bottom:53px;}

div.mortgage-docs-container {position:absolute; width:717px; height:551px; left:400px; bottom:91px;}
.mortgage-docs-list {position:absolute; width:346px; height:346px; top:0; left:0; background-color:#3f72d0; color:#fff; font-family:Helvetica; font-size:14px; padding:30px 23px 0 48px;}
.mortgage-docs-list>h2 {font-family:Verdana; font-size:17px; text-transform:uppercase; font-weight:normal; color:#fff; line-height:1.3em;}
.mortgage-docs-list>p {margin:0.3em 0; padding-left:30px;}
.mortgage-docs-list>p.last {margin-top:1em; padding-left:0px;}
.mortgage-docs-list>p>span {float:left; background:url('../images/sprite.png') -150px -118px no-repeat; width:17px; height:4px; margin:9px 0 0 -30px;}
.young-family {position:absolute; width:329px; height:205px; bottom:0; left:77px; background-color:#94c604; color:#fff; font-family:Helvetica; font-size:14px; padding:35px 0 0 50px;}
.mortgage-plus {position:absolute; width:371px; height:261px; top:85px; right:0; background-color:#ba2748; color:#fff; font-family:Helvetica; font-size:14px; padding:25px 60px 0 63px; line-height:1.5em;}
.young-family span, .mortgage-plus span {text-transform:uppercase; font-size:18px;}
#mortgage-app>#app {bottom:79px!important; right:185px!important;}

.mortgage_steps__close,.mortgage_docs__close,.callback__close{position:absolute; width:126px; height:126px; bottom:298px; left:-590px; padding-top:85px; background-color:#646569; font-family:Helvetica; font-size:12px; text-transform:uppercase; color:#fff; text-align:center; cursor:pointer; z-index:201;}
.mortgage_steps__close:hover, .mortgage_docs__close:hover, .mortgage_start__close:hover {opacity:0.7;}
.mortgage_steps__close>span, .mortgage_docs__close>span,.callback__close>span {position:absolute; background:url('../images/sprite.png') no-repeat; background-position:2px -296px!important; width:58px; height:47px; top:30px; left:33px; pointer-events:none;}
.mortgage_docs__close {left:-400px!important; bottom:207px!important; z-index:220!important;}
.mortgage_start__close{position:absolute; background:url('../images/sprite.png') -173px -174px no-repeat; width:43px; height:43px; top:190px; left:1000px; cursor:pointer; z-index:201;}
/* */

/* contacts */
#contacts-page{position:absolute;width:100%;z-index:2}
#contacts-container,.location-cont{position:absolute;width:458px;height:486px;top:156px;left:50%;right:50%;margin-left:-252px;padding:70px 80px 0 84px;background-color:rgba(255, 255, 255, 0.75);z-index:100}
#contacts-container>h2,.location-cont>h2{text-transform:uppercase;font-family:Helvetica;font-size:22px;color:#394049;margin:0 0 43px 0}
#contacts-container>p{font-size:14px;margin:0;padding:0;line-height:1em}
p.upper{text-transform:uppercase}
p.cc-address{margin-top:12px!important}
p.cc-phone{font-size:24px!important;color:#394049!important;margin-top:25px!important}
p.cc-cont{margin-top:16px!important}
a.cc-e-mail{float:left;width:100%;color:#4072d1;margin:6px 0 21px 0!important}
a.cc-e-mail>span>a{color:#4072d1}
p.grafik {margin-top:11px!important}
p.grafik>span{font-size:18px!important}

#call-us-button{position:absolute;width:126px;height:126px;top:0;left:0;padding:79px 10px 0 10px;font-size:12px;color:#fff;text-transform:uppercase;text-align:center;line-height:130%;background-color:#d04526;z-index:100}
#call-us-button span{position:absolute;width:43px;height:42px;background:url('../images/sprite.png') -415px -595px no-repeat;left:40px;top:26px}
#call-us-button:hover{opacity:0.9}
#contacts-container>#call-us-button{left:-126px!important}
/* */

/* about builder */
#about-builder{position:absolute;width:100%;height:100%;top:0;left:0;background:url('../images/about-builder.html') no-repeat;background-size:cover;z-index:2}
#about-builder-content{position:absolute;top:153px;left:205px;width:582px;height:501px;z-index:200;font-family:Helvetica;color:#394049}
#about-builder-navi{position:absolute;top:0;left:0;width:126px;height:501px}
#about-builder-container{position:absolute;top:0;left:126px;width:456px;height:501px;background-color:rgba(255,255,255, .75);padding:95px 50px 30px 92px}
#about-builder-container h2{font-size:20px;text-transform:uppercase;color:#394049}
#about-builder-container>.scroll{width:100%;height:298px;padding-right:10px;overflow:hidden;overflow-y:scroll}
#about-builder-container>.scroll::-webkit-scrollbar{width:9px}
#about-builder-container>.scroll::-webkit-scrollbar-thumb{background:url('../images/sprite.png') -469px -610px no-repeat;width:7px;height:37px}
#purchase-button{background-color:#0093da}
#purchase-button>span{float:left;width:47px;height:36px;background:url('../images/sprite.png') -273px -650px no-repeat;margin:28px 35px 20px 43px}
#about-builder-button{background-color:#683786}
#about-builder-button>span{float:left;width:47px;height:40px;background:url('../images/sprite.png') -219px -651px no-repeat;margin:28px 35px 20px 43px}
#about-builder-navi>#gallery-button{bottom:123px!important}
#about-builder-back-button{position:absolute;width:126px;height:126px;top:0;left:297px;padding-top:90px;background-color:#646569;font-family:Helvetica;font-size:12px;text-transform:uppercase;color:#fff;text-align:center;cursor:pointer;z-index:201}
#about-builder-back-button>span{position:absolute;background:url('../images/sprite.png') 0px -296px no-repeat;width:58px;height:46px;left:35px;top:27px}
#about-builder-back-button:hover{color:#fefefe;opacity:0.8}
/* */

/* advantages */
#advantages-page{position:absolute;width:100%;height:100%;top:0;left:0;background:url('../images/advantages.html') no-repeat;background-size:cover;overflow:hidden;z-index:2}
#advantages-frame{position:absolute;width:100%;height:504px;top:182px;left:0}
#advantages-frame-one{position:absolute;width:494px;height:504px;right:35%;top:0;z-index:200}
#advantages-frame-two{position:absolute;width:494px;height:504px;right:0;top:0;z-index:200}
.advantages__frame_two{position:absolute;width:494px;height:504px;right:-10%;top:0;z-index:200}
#advantages-containers-left{float:left;width:252px;height:504px}
#advantages-containers-right{float:right;width:242px;height:504px}
#advantages-container{float:left;width:242px;height:246px;margin:5px 0}
.icon-brick-house{width:76px!important;height:57px!important;background-position:-165px -705px!important;margin:0 96px 20px 0}
.icon-engineering-systems{width:59px!important;height:58px!important;background-position:-165px -769px!important;margin:0 96px 20px 0}
.icon-individual-heating{width:37px!important;height:57px!important;background-position:-311px -747px!important;margin:0 96px 20px 0}
.icon-natural-ventilation{width:62px!important;height:31px!important;background-position:-299px -815px!important;margin:14px 96px 33px 0}
.icon-out-plan{width:62px!important;height:62px!important;background-position:-98px -704px!important; margin:0 96px 20px 0}
.icon-well-territory{width:123px!important;height:52px!important;background-position:-352px -753px!important; margin:0 96px 20px 0}
.icon-high-ceilings{width:51px;height:67px;background-position:-233px -778px!important;margin:0 96px 28px 0}
.icon-trouble-free-elevators{width:61px!important;height:64px!important;background-position:-248px -704px!important;margin:0 96px 10px 0}
.icon-brick-house,.icon-engineering-systems,.icon-individual-heating,.icon-natural-ventilation,.icon-out-plan,.icon-well-territory,.icon-high-ceilings,.icon-trouble-free-elevators{background:url('../images/sprite.png') no-repeat;float:left}

.adv_item_hover{position:absolute;width:100%;height:100%;overflow:hidden;top:100%;left:0;background:#fff;z-index:1}
.v-align>div{position:relative;display:inline-block;vertical-align:middle;width:100%;white-space:normal}
.adv_text {text-align:left;width:180px;margin:38px auto 0;font-family:Verdana;font-size:12px;color:#394049;line-height:120%}
.adv_item {position:relative;display:inline-block;width:242px;height:246px;overflow:hidden;background-color:#3f72d0;padding:38px 28px 0 40px;cursor:pointer}
.adv_title>h2{font-family:Verdana;font-weight:bold;font-size:15px;text-transform:uppercase;color:#fff;margin:0 0 10px 0;padding:0;line-height:130%}
.adv_title>p{font-family:Verdana;font-size:11px;color:#fefefe;margin:0;padding:0;line-height:110%}
.adv_item:hover .adv_item_hover {top:0}

.location_page__button{position:absolute;width:126px;height:126px;top:0;left:50%;margin-left:-355px;padding:0 7px;font-size:12px;color:#fff;text-transform:uppercase;text-align:center;line-height:130%;background-color:#0093da;z-index:100;cursor:pointer}
.location_page__button>span{float:left;background:url('../images/sprite.png') -226px -602px no-repeat;width:29px;height:43px;margin:26px 0 12px 43px;pointer-events:none}
.advantages_two__button{position:absolute;width:126px;height:126px;bottom:185px;right:-136px;background-color:#88898d;cursor:pointer;z-index:100}
.advantages_two__button>span{position:absolute;background:url('../images/sprite.png') -67px -298px no-repeat;width:56px;height:43px;left:35px;bottom:42px;pointer-events:none}
.advantages_two__button:hover,.location_page__button:hover{opacity:0.8}
.advantages__close{position:absolute;width:126px;height:126px;bottom:185px;left:-135px;padding-top:85px;background-color:#88898d;font-family:Helvetica;font-size:12px;text-transform:uppercase;color:#fff;text-align:center;cursor:pointer;display:none;z-index:210}
.advantages__close>span{position:absolute;background:url('../images/sprite.png') no-repeat;background-position:2px -296px!important;width:58px;height:47px;top:38px;left:33px;pointer-events:none}
/* */

/* leftmenu */
.menu__button{position:absolute;width:125px;height:125px;top:0px;left:297px;cursor:pointer;color:#fefefe;text-transform:uppercase;text-align:center;z-index:101}
.menu__button:hover{opacity:0.5}
.menu__button:after{content:'';position:absolute;width:40px;height:41px;top:50%;left:50%;margin:-29px 0 0 -20px;background:url('../images/sprite.png') 0 -192px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.menu__button.active:after{opacity:0;-webkit-transform:scale(0.1);-moz-transform:scale(0.1);-ms-transform:scale(0.1);-o-transform:scale(0.1);transform:scale(0.1)}
.menu__frame{position:absolute;width:742px;top:0px;bottom:0px;left:-742px;z-index:202;background:url('../images/leftmenu-bg.html') no-repeat left top;font-size:0;text-align:left;-webkit-transition:left .4s ease-in-out;-moz-transition:left .4s ease-in-out;-ms-transition:left .4s ease-in-out;-o-transition:left .4s ease-in-out;transition:left .4s ease-in-out;will-change:left}
.menu__frame.visible{left:0}
.menu__list{position:absolute;top:5%;right:50px;bottom:180px;left:70px;margin-top:150px;overflow:hidden}
.menu_button_home{background-color:#3f72d0;width:100%;height:100%;padding-top:83px}
.menu_button_about{background-color:#88898d;width:100%;height:100%;padding-top:83px}
/* */

/* footer */
.menu-opened .footer__left{color:#7e7e7e}.footer__left.pjax{text-decoration:none}.footer__callback-button,.footer__docs-button,.footer__privacy-button{color:#FFF;font-size:13px;display:inline-block;cursor:pointer}.footer__docs-button:hover{color:#eb3d01!important;cursor:pointer}.footer__docs-button.active{color:#fff}.footer__left>a:hover,.footer__callback-button:hover,.footer__docs-button:hover{color:#FFF}
/* */

/* documents */
.documents__frame{display:none;position:absolute;width:329px;height:100%;top:0;bottom:0;padding-top:120px;background:#3f72d0;z-index:230}
.mortgage__frame_start{display:none;position:absolute;width:100%;height:100%;top:0;left:0;bottom:0;background-color:rgba(56, 55, 55, 0.85);z-index:230}
.mortgage__frame_steps{display:none;position:absolute;width:632px;height:675px;bottom:0;padding:0;z-index:230}
.mortgage__frame_docs{display:none;position:absolute;width:100%;height:100%;top:0;left:0;bottom:0;background-color:rgba(255,255,255, .9);z-index:230}

.callback__frame{display:none;position:absolute;width:600px;height:100%;top:0;right:0;bottom:0;background-color:rgba(255,255,255, .9);z-index:230}

.documents__title{margin:40px 0 0 40px;font-size:34px;font-family:Helvetica, Arial, sans-serif;text-transform:uppercase;color:#FFF}
.documents__title>span{display:block;font-family:Helvetica, Arial, sans-serif}
.documents__list{position:absolute;top:165px;right:10px;bottom:0;left:10px}
.documents__close{top:150px;right:-18px;background:url('../images/sprite.png') no-repeat;background-position:-140px -69px}
/* */

/* house */
#floors_div,#room_div {overflow:hidden}
#floors_div{position:absolute;width:100%;height:979px;padding-top:60px;top:0;left:0}
div.maphilight{background-position:180px 234px!important;background-repeat:no-repeat!important}
area{cursor:pointer}
#house-shadow{position:relative;min-width:1165px;height:979px; margin:0 auto; background:url('../images/model/choose-floor.html') center top no-repeat}
#floor_left{position:absolute;top:38%;left:0;z-index:200}
.hs-floor,.hs-house,.hs-room {position:relative}
.hs-floor{margin:0 auto;width:1165px;position:relative}
.hs-house{position:absolute;width:1165px;height:979px;top:0;bottom:0;margin-left:-584px;right:50%;left:50%}
.hs-room{height:799px}
.hs-back-floor,.hs-back-house{position:absolute;width:126px;height:126px;background-color:#818181;top:0;left:296px;padding-top:90px;font-family:Helvetica;font-size:12px;text-transform:uppercase;color:#fff;text-align:center;cursor:pointer;z-index:210}
.hs-back-floor>span,.hs-back-house>span{position:absolute;background:url('../images/sprite.png') no-repeat;background-position:0px -296px!important;width:58px;height:46px;margin:-58px 0 0 -9px}
.hs-back-floor:hover,.hs-back-house:hover{color:#fefefe;opacity:0.9}
.hs-back-house{left:0!important}
#hs-back-house{position:absolute;width:363px;height:126px;top:0;left:296px;padding:13px 50px 0 170px;font-family:Helvetica;font-size:24px;color:#b5b5b5;text-transform:uppercase;line-height:100%;z-index:220}
.hs-turn-house{width:145px;height:25px;position:absolute;top:626px;left:882px;display:block;transition:none}
.hs-turn-house:hover{background-position:-145px 0;transition:none}
.hs-sold-shield{width:117px;height:38px;opacity:0.9;position:absolute;pointer-events:none}
.hs-reserv-shield{width:158px;height:38px;opacity:0.9;position:absolute;pointer-events:none}
.hs-sel{width:113px;height:31px;left:15px;position:absolute;pointer-events:none}
.hs-curr-floor{position:absolute;width:184px;top:100px;right:185px;pointer-events:none;z-index:220}
.hs-curr-floor-number,.hs-curr-floor-sale{float:left;display:inline-block;width:110px;color:white;font-size:15px;text-transform:uppercase;text-align:left;font-weight:bold}
.hs-curr-floor-number{height:83px}
.hs-curr-floor-sale{height:90px}
.hs-curr-floor-number .text,.hs-curr-floor-sale .text{color:white;font-size:60px;height:70px;width:100%;text-align:left;font-family:Helvetica;font-weight:bold}
.choose-floor-text{position:absolute;width:236px;height:127px;left:0;top:200px;background-color:#4f7dde;font-family:Helvetica;font-size:24px;font-weight:normal;text-transform:uppercase;color:white;text-align:left;padding:41px 0 0 52px;line-height:100%;z-index:220}
.min-text{font-size:21px}
.hs-change-floor{width:260px;height:126px}
#room_left .hs-change-floor{top:22px;pointer-events:none}
.hs-number-floor{display:none}

#condition{position:absolute;width:130px;height:97px;top:13px;left:650px;color:#818181;z-index:99}
.ap-not-sale,.ap-sale,.ap-reserv{position:absolute;top:0;height:35px;padding:3px 0 0 40px}
.ap-not-sale{left:0;width:185px}
.ap-reserv{left:0;top:32px;width:145px}
.ap-sale{left:0;top:65px;width:145px}
.ap-not-sale>span,.ap-sale>span,.ap-reserv>span{position:absolute;left:0;top:0;background:url('../images/sprite.png') no-repeat;width:30px;height:30px}
.ap-not-sale>span{background-position:-413px -546px!important}
.ap-reserv>span{background-position:-82px -609px!important}
.ap-sale>span{background-position:-446px -546px!important}
.floor-number{position:absolute;width:100%;top:130px;text-align:center;font-size:30px;color:#b5b5b5;padding-right:63px}
#sections{position:absolute;width:700px;height:35px;left:50%;margin-left:-33%;bottom:40px;font-size:30px;text-transform:uppercase;text-align:center;color:#b5b5b5;z-index:200}
#sections p{margin:0;padding:0}
.section-1{float:left;width:50%;height:35px}
.section-2{float:right;width:50%;height:35px}
.hs-up-floor span{background-position:-66px -297px !important}
.hs-down-floor span{background-position:0px -297px !important}
.hs-up-floor span,.hs-down-floor span{float:left; background:url('../images/sprite.png') no-repeat; width:59px; height:48px; margin:35px 0 0 35px;}
.hs-down-floor,.hs-up-floor{float:left; width:126px; height:126px; margin:10px 0; background-color:#cf4528; font-family:Helvetica; font-size:12px; color:#fff; text-transform:uppercase; cursor:pointer;}
.hs-down-floor:hover,.hs-up-floor:hover{opacity:0.8!important}
.hs-up-floor{float:right}
.hs-down-floor{left:-300px!important}
.hs-down-floor:hover,.hs-up-floor:hover{opacity:1}
.hs-room-left{position:absolute;text-align:center;pointer-events:none}
a.return-floor,a.return-house{transition:none;cursor:pointer}
p.one-floor{font-size:17px!important}
#content-area{clear:none}
.choose-floor-location{position:absolute;background:url('../images/sprite.png') -701px 0 no-repeat;width:388px;height:304px;right:0px;top:230px;z-index:220}
/* */

/* map */
.hide{display:none}
.map{position:absolute;top:0;left:0;right:0;bottom:0;z-index:1}
.marker-dropdown {background:#fff;padding:14px 14px 5px; box-shadow:0 21px 23px -16px rgba(52, 35, 53, 0.6);}
.marker-dropdown:after {content:"";position:absolute;top:100%;left:50%;margin-left:-20px;border-top:24px solid #fff;border-left:20px solid transparent;border-right:20px solid transparent}
.marker-dropdown:before {content:"";position:absolute;top:100%;left:50%;margin-left:-7px;margin-top:-1px;width:46px;height:26px}
.marker-dropdown.large{padding:30px 20px 15px;width:360px}
.marker-dropdown h3,.marker-dropdown h5{line-height:1.4 !important}
.marker-dropdown a{font-weight:inherit;font-family:inherit;font-size:inherit}
.map ~ .main-content{z-index:991;bottom:auto;max-width:400px}
.marker{position:relative;width:40px;height:40px;text-align:center}
.marker .marker-dropdown{display:none;position:absolute;bottom:20px;left:-100px;width:240px}
.marker:hover,.marker.active{z-index:999}
.marker.active .marker-dropdown{display:block}
.marker.active .btn-marker{display:none}
.btn-marker{position:relative;width:40px;height:40px;background:transparent;border:0;margin:0;padding:0;cursor:pointer}
.btn-marker > span{position:relative;display:block;width:39px;height:53px;padding:8px 0 0;border-radius:18px 18px 0 0}
.map-logo:before{z-index:-1;margin-top:85px}
.map-logo{float:left;background:url('../images/sprite.png') -390px -645px no-repeat;width:78px;height:102px;margin:-40px 0 0 -10px}
.map-house{float:left;background:url('../images/sprite.png') -326px -645px no-repeat;width:64px;height:83px;margin:-50px 0 0 0}
.list-filter .checkbox{float:left;margin:0;padding:0;background:none;list-style:none;color:#394049;width:100px;height:100px;font-size:12px;text-align:center;line-height:100%}
.list-filter .checkbox>label{position:relative;display:block;-webkit-transition:all .1s;transition:all .1s;padding-top:0;padding-left:0}
.list-filter .checkbox>label>input[type="checkbox"]{position:absolute;top:0;left:0;margin:0;opacity:0}
.list-filter .checkbox>label:hover{cursor:pointer}
.list-filter .checkbox i{margin:0 auto 5px auto;-webkit-transition:all .22s;transition:all .22s}
.list-filter{font-size:14px}
.map-location-nav {position:absolute;top:52%;left:3%;z-index:995;width:335px;margin-top:-180px;-webkit-transform:translate3d(0px, 0px, 1px);transform:translate3d(0px, 0px, 1px)}
/* end MAP */

.noselect{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.tab-content{padding:0;width:100%;height:100%;overflow-y:scroll;overflow-x:visible}
.tab-content::-webkit-scrollbar{display:none}
.tab-buttons{position:absolute;right:0;top:50%;transform:translate(50%,-50%);width:50px}
.map-tabs{color:black;position:absolute;top:56%;left:250px;transform:translateY(-50%);width:390px;height:330px;background:rgba(255, 255, 255, 0.7);z-index:999;transition:all 1s;margin-top:-70px}
.about-tabs{color:black;position:absolute;top:50%;left:175px;transform:translateY(-50%);width:600px;height:330px;background:rgba(255, 255, 255, 0.5);z-index:999;transition:all 1s;margin-top:-95px}
.map-tabs.collapsed,.about-tabs.collapsed{height:53px;margin-top:-200px}
.map-tabs.collapsed .btn-map,.about-tabs.collapsed .btn-map{opacity:0}
.map-tabs.collapsed .tab-buttons,.about-tabs.collapsed .tab-buttons{top:0;transform:translate(50%,0)}
.map-tabs.collapsed .btn-map.map-close,.about-tabs.collapsed .btn-map.map-close{opacity:1}
.map-tabs.collapsed .tab-content,.about-tabs.collapsed .tab-content{height:50px}
.btn-map.disabled{opacity:0.7;cursor:default}
.btn-map{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;width:54px;height:54px;background:url('../images/sprite.png');display:block;border-bottom:1px solid rgba(255, 255, 255, 0.4);cursor:pointer}
.map-close{background-position:-13px -623px}
.map-close:hover{background-position:-70px -680px !important}
.map-prev{background-position:-217px -623px}
.map-prev:hover{background-position:-217px -684px !important}
.map-next{background-position:-351px -623px}
.map-next:hover{background-position:-351px -684px !important}

/* location */
.location-cont {padding:70px 64px 0 74px!important;}
.location-cont>h2{margin:0 0 30px 0!important;}
.location-cont>p {font-size:14px; margin:10px 0; padding:0; line-height:1.2em}

.location-content {width:100%;height:280px;padding-right:20px;overflow:scroll;overflow-x:hidden}
.location-content::-webkit-scrollbar{width:9px}
.location-content::-webkit-scrollbar:start{margin-top:100px}
.location-content::-webkit-scrollbar-thumb{background:url('../images/sprite.png') -1624px -540px no-repeat;width:7px;height:40px}
.location_page__close{position:absolute;background-color:#818181;width:77px;height:76px;top:250px;right:60px;cursor:pointer;display:block;z-index:201}
.location_page__close>span{background:url('../images/sprite.png') -172px -174px no-repeat;left:16px;top:16px}
.location-navi{position:absolute;background-color:rgba(255, 255, 255, 0.75);width:970px;height:215px;bottom:0;right:0;z-index:201}
.location-navi-desc{position:absolute;width:210px;height:110px;top:62px;left:60px;color:#394049;font-size:14px;padding:0;margin:0 0 10px 0;line-height:110%}
.location-navi-desc>h2{font-family:Helvetica;font-size:20px;text-transform:uppercase;color:#394049;margin:0;padding:0;line-height:110%}
.location-navi-container{position:absolute;width:645px;height:100px;top:60px;right:35px;z-index:100}
.location-navi-container ul{margin-top:0.5em}
[class^="icon-"],[class*=" icon-"]{display:inline-block;width:54px;height:52px;line-height:20px;vertical-align:text-top;background-image:url('../images/sprite.png');background-color:transparent;background-repeat:no-repeat}
[class^="icon-"]:hover,[class*=" icon-"]:hover{opacity:0.8}
.icon-pastime{background-position:-530px 0px}.icon-beauty-salons{background-position:-638px -162px}.icon-mall{background-position:-530px -108px}.icon-dollar{background-position:-638px -216px}.icon-daycare{background-position:-530px 0px}.icon-restaurant{background-position:-530px -162px}.icon-auto{background-position:-584px 0px}.icon-public-transport{background-position:-530px -216px}.icon-medicine{background-position:-530px -54px}.icon-pobeda{background-position:-584px -54px}.icon-teatr{background-position:-584px -108px}.icon-hippodrome{background-position:-584px -216px}.icon-pool{background-position:-584px -162px}
.locations-coords-button,.locations-coords__close{position:absolute;width:30px;height:55px;top:15px;right:0;background:url('../images/sprite.png') -671px 0 no-repeat;cursor:pointer;z-index:101}
.locations-coords__close{background-position:-641px 0!important}
/* */

/*** other ***/
#404 {position:absolute;width:100%;height:100%;left:0;right:0;top:0;bottom:0;background:url('../images/404.html') center center no-repeat;background-size:cover;z-index:2}
#404>.cont{position:relative;width:536px;height:518px;background:url('../images/sprite.png') 0 -1096px no-repeat;margin:130px auto}
.metrika{position:absolute;top:-9999px;left:-9999px}

/* territory page */
#territory{position:absolute;background:url('../images/territory.html') top center no-repeat;background-size:cover;width:100%;height:100%;left:0;top:0}
#territory-slogan{position:absolute;width:355px;height:110px;top:0;left:450px;padding-top:40px}
#territory-slogan>p{padding:0;margin:0;color:#fdfdfd;text-transform:uppercase;font-size:24px;font-family:Helvetica;line-height:100%}
#territory-point-left{left:195px;top:575px}#territory-point-center{left:651px;top:612px}#territory-point-right{right:178px;top:468px}
#territory-point-left,#territory-point-center,#territory-point-right{position:absolute;background:url('../images/sprite.png') -164px -650px no-repeat;width:45px;height:45px}
.territory-plate-left{width:275px;height:267px;left:83px;top:296px;padding:40px 28px 0 40px}.territory-plate-center{width:297px;height:287px;left:519px;top:302px;padding:70px 36px 0 53px}.territory-plate-right{width:275px;height:267px;right:58px;top:193px;padding:42px 32px 0 44px}
.territory-plate-left,.territory-plate-center,.territory-plate-right{position:absolute;background-color:rgba(255, 188, 1, 0.9);font-family:Verdana;font-size:14px;color:#fff;line-height:140%}
.territory-plate-left,.territory-plate-center,.territory-plate-right{display:none}
.points__button_left,.points__button_center,.points__button_right{cursor:pointer;-webkit-animation:rainbow 5s linear 5s infinite}
.points__close_left,.points__close_center,.points__close_right{background:url('../images/sprite.png') -182px -183px no-repeat;top:12px;height:25px;width:25px;right:12px;z-index:300}
/* */

.popup_wrap{cursor:default!important}
#popup-111 .popup{width:753px;background:#fff;margin:0}
.popup_wrap .popup{position:fixed;height:auto}
.popup_wrap .popup-center{top:25%;left:50%}
.popup_wrap .popup .relative{position:absolute;font-family:Helvetica}
.popup_wrap .popup .relative .close-popup{right:-80px!important;top:0!important}
.popup_wrap .relative{background:url('../images/shares-banner.html')}
.popup .relative{height:450px;width:100%;overflow:visible!important}
.popup-content{position:absolute;top:40px;right:135px;width:215px;height:135px;text-align:right}
.popup-content>sup{top:-.8em;font-size:60%}
.popup-nameplate {position:absolute;top:133px;right:-54px;width:260px;height:80px;text-align:left;-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}
.popup .relative h2{font-size:30px;color:#ffcc1a}.popup .relative h3{font-size:17px;color:#fff}
.popup .relative h2,.popup .relative h3{font-weight:bold;margin:0;text-transform:uppercase}
.popup .relative p{font-size:16px;color:#fefefe;margin:0 0 10px 0;padding:0;line-height:1.2em;text-shadow:1px 1px 2px rgba(0, 0, 0, 0.4)}

/* jce */
@media print{a.jcepopup span.jcemediabox-zoom-image{background:none!important;}}.jcepopup.hide,.jcepopup.noshow{display:none;}
#jcemediabox-popup-page,#jcemediabox-popup-overlay,#jcemediabox-popup-loader,#jcemediabox-popup-container,#jcemediabox-popup-content,#jcemediabox-popup-content,#jcemediabox-popup-iframe,#jcemediabox-popup-img{left:0;top:0;margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;height:100%;width:100%}
#jcemediabox-popup-overlay,#jcemediabox-popup-body,#jcemediabox-popup-container,#jcemediabox-popup-content{box-sizing:content-box}
#jcemediabox-popup-page{position:fixed!important;z-index:10000}#jcemediabox-popup-page.scrolling{position:absolute!important}
#jcemediabox-popup-overlay{position:absolute;cursor:pointer}
#jcemediabox-popup-frame,.popup_wrap{position:absolute;overflow:visible;width:100%;height:100%;background-color:rgba(56, 55, 55, 0.7);display:block;z-index:10001;cursor:pointer}
#jcemediabox-popup-body{position:relative;margin:0 auto;padding:0;border:0;outline:0;background-color:transparent;top:0!important;bottom:0;overflow:visible;/*width:580px!important;height:100%!important;*/z-index:10002; opacity:1; cursor:default;}
#jcemediabox-popup-container{overflow:hidden;}#jcemediabox-popup-content{width:100%;height:100%;}
#jcemediabox-popup-content p.media-support{font-size:20px;color:#888;font-weight:bold;text-align:center;height:100%;position:relative;top:50%;margin-top:-10px;}
#jcemediabox-popup-img,#jcemediabox-popup-iframe{text-align:center;}
#jcemediabox-popup-content>embed,#jcemediabox-popup-content>img{width:100%;height:auto;}
#jcemediabox-popup-page.ios #jcemediabox-popup-content,#jcemediabox-popup-page.android #jcemediabox-popup-content{overflow:scroll;}
#jcemediabox-popup-ajax{overflow:auto;border:0;padding:0;margin:0;width:auto;height:100%;background-color:#fff;position:relative;}
a.jcemediabox-image{line-height:0!important;font-size:0!important;}
.wf_caption a.jcepopup{display:block;}
a.jcepopup span.jcemediabox-zoom-span{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;cursor:pointer;display:inline-block;overflow:hidden;position:relative;float:none;}
a.jcepopup span.jcemediabox-zoom-image{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;display:block;background:transparent url(images/zoom-img.html) no-repeat bottom right;width:100%;height:100%;position:absolute;z-index:1;bottom:0;left:0;}
a.jcepopup span.jcemediabox-zoom-link,a.jcepopup span.jcemediabox-zoom-link.icon-right,a.jcepopup span.jcemediabox-zoom-link.zoom-right{padding-right:16px;background:transparent url(images/zoom-link.html) no-repeat center right;display:inherit;}
a.jcepopup span.jcemediabox-zoom-link.icon-left,a.jcepopup span.jcemediabox-zoom-link.zoom-left{padding-left:18px;background:transparent url(images/zoom-link.html) no-repeat center left;}
#jcemediabox-popup-caption,#jcemediabox-popup-caption h4,#jcemediabox-popup-caption p{margin:0;padding:0;border:0;}
a.jcepopup.ie6 span.jcemediabox-zoom-image{background:transparent url(images/zoom-img.html) no-repeat;width:20px;height:20px;left:auto;top:auto;right:0;}
a.jcepopup.ie6 span.jcemediabox-zoom-link{display:inline-block;}
a.jcepopup.ie6.icon-left span.jcemediabox-zoom-image,a.jcepopup.icon-bottom-left span.jcemediabox-zoom-image{top:auto;right:0;}
a.jcepopup.ie6.icon-top span.jcemediabox-zoom-image,a.jcepopup.icon-top-right span.jcemediabox-zoom-image{top:0;}
a.jcepopup.ie6.icon-left span.jcemediabox-zoom-image{left:0;right:auto;}
/* jce mediabox */
#jcemediabox-popup-loader{background:url('../images/loader3.gif') no-repeat center center;}
#jcemediabox-popup-closelink,.popup_wrap .popup .relative .close-popup{width:43px;height:43px;background:url('../images/sprite.png') -173px -174px no-repeat;top:30px;right:-85px;position:absolute;border:none;cursor:pointer;}
#jcemediabox-popup-nav{line-height:20px;background-color:transparent;}
#jcemediabox-popup-prev,#jcemediabox-popup-next{width:30px;height:30px;position:absolute;border:none;background-repeat:no-repeat;bottom:5px;}
#jcemediabox-popup-prev{background-image:url('../images/prev.png');left:5px;}#jcemediabox-popup-next{background-image:url('../images/next.png');right:5px;}
span#jcemediabox-popup-numbers{text-align:center;display:block;}
span#jcemediabox-popup-numbers:empty{line-height:0;min-height:0;}
span#jcemediabox-popup-numbers a{border:none;display:inline-block;margin:0 1px;width:20px;height:20px;}
span#jcemediabox-popup-numbers a:active,span#jcemediabox-popup-numbers a:visited,span#jcemediabox-popup-numbers a:link,span#jcemediabox-popup-numbers a:hover{font-weight:bold;text-decoration:none;color:#000;}
span#jcemediabox-popup-numbers a:hover{font-size:1.2em;}
span#jcemediabox-popup-numbers a.active{cursor:default;font-size:1.2em;}
#jcemediabox-popup-caption{padding:10px 10px 0;min-height:5px;background-color:#fff;}
#jcemediabox-popup-caption:empty{padding:0;min-height:0;}
#jcemediabox-popup-caption h4 a:active,#jcemediabox-popup-caption p a:active,#jcemediabox-popup-caption h4 a:hover,#jcemediabox-popup-caption p a:hover,#jcemediabox-popup-caption h4 a:visited,#jcemediabox-popup-caption p a:visited,#jcemediabox-popup-caption h4 a,#jcemediabox-popup-caption p a{color:#000;font-weight:bold;text-decoration:none;}
#jcemediabox-popup-page.ie7 #jcemediabox-popup-nav{height:10px;padding-top:0;}#jcemediabox-popup-page.ie6 #jcemediabox-popup-nav{height:10px;padding-top:0;}#jcemediabox-popup-page.ie6 #jcemediabox-popup-caption{margin-top:-1px;}#jcemediabox-popup-page.ios #jcemediabox-popup-caption{margin:-1px 0;}#jcemediabox-popup-page.ios #jcemediabox-popup-nav{margin-bottom:-1px;}

.flickity-enabled{position:relative}.flickity-enabled:focus{outline:0}
.flickity-viewport{overflow:hidden;position:relative;height:100%}
.flickity-slider{position:absolute;width:100%;height:100%}
.flickity-enabled.is-draggable{-webkit-tap-highlight-color:transparent;tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.flickity-enabled.is-draggable .flickity-viewport{cursor:move;cursor:-webkit-grab;cursor:grab}.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down{cursor:-webkit-grabbing;cursor:grabbing}
.flickity-prev-next-button{position:absolute;top:50%;width:125px;height:125px;border:none;cursor:pointer;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.flickity-prev-next-button:hover{opacity:0.8}.flickity-prev-next-button:focus{outline:0;box-shadow:0;border:0}.flickity-prev-next-button:active{filter:alpha(opacity=60);opacity:.6}
.flickity-prev-next-button.previous{left:50%;margin-left:-572px;background:url('../images/sprite.png') -1380px -918px no-repeat}.flickity-prev-next-button.next{right:50%;margin-right:-570px;background:url('../images/sprite.png') -1508px -918px no-repeat}
.flickity-rtl .flickity-prev-next-button.previous{left:auto;right:10px}.flickity-rtl .flickity-prev-next-button.next{right:auto;left:10px}
.flickity-prev-next-button:disabled{display:none;cursor:auto}.flickity-prev-next-button svg{display:none}.flickity-page-dots{display:none}.flickity-rtl .flickity-page-dots{direction:rtl}
.flickity-page-dots .dot{display:inline-block;width:10px;height:10px;margin:0 8px;background:#333;border-radius:50%;filter:alpha(opacity=25);opacity:.25;cursor:pointer}
.flickity-page-dots .dot.is-selected{filter:alpha(opacity=100);opacity:1}

.tabs{width:100%;height:100%;overflow:hidden;zoom:1;position:relative;margin:0;z-index:1}
.tabs dt{/*position:absolute;width:62px;height:62px;left:25%;bottom:114px;font-size:18px;color:#394049;*/cursor:pointer;border:0;background:none;z-index:200}
.tabs dt:hover{color:#ce4622}
.tabs dt.selected{cursor:auto;color:#ce4622;font-size:14px}
.tabs dd{display:none;float:right;width:100%;height:100%;position:relative;z-index:2;margin:0;line-height:1.5em}
.tabs dd.selected {display:block}
.tabs .tab-content{width:100%; height:100%; border:0;overflow:hidden;padding:0; display: flex;}
.tabs .moduletable {margin:0;padding:0;border:0}


.gallery-cell{margin:0 15px 0 15px;opacity:0.45}
.gallery-cell.is-selected{opacity:1}
.tabs_clr {clear:both;font-size:0;height:0;line-height:0}
.topmenu_links > a {
    text-decoration: none;
}
div.gm-style-cc, div.gmnoprint, div.gmnoprint .gm-style-cc {display:none!important}


/* fonts */
@font-face{font-family:"UniSansThin";
			src: url("../fonts/UniSansThin.eot");
			src: url("../fonts/UniSansThind41d.eot?#iefix")format("embedded-opentype"),
			url("../fonts/UniSansThin.woff") format("woff"),
			url("../fonts/UniSansThin.ttf") format("truetype");
			font-style:normal;
			font-weight:normal}

@font-face {
    font-family: 'Uni Sans Light';
    src: url('../fonts/UniSansLight.eot');
    src: url('../fonts/UniSansLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/UniSansLight.woff') format('woff'),
    url('../fonts/UniSansLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face{font-family:"RobotoLight";
			src: url("../fonts/RobotoLight.eot");
			src: url("../fonts/RobotoLightd41d.eot?#iefix")format("embedded-opentype"),
			url("../fonts/RobotoLight.woff") format("woff"),
			url("../fonts/RobotoLight.ttf") format("truetype");
			font-style:normal;
			font-weight:normal}
@font-face{font-family:"RobotoRegular";
			src: url("../fonts/RobotoRegular.eot");
			src: url("../fonts/RobotoRegulard41d.eot?#iefix")format("embedded-opentype"),
			url("../fonts/RobotoRegular.woff") format("woff"),
			url("../fonts/RobotoRegular.ttf") format("truetype");
			font-style:normal;
			font-weight:normal}


.bm-cool-menu-wrap {
    position: absolute;
    width: 50%;
    z-index: 90;
    margin-left: 30%;
    padding-top: 36px;
}

.bm-cool-menu li a {
    font-size: 15px;
}
.bm-cool-menu li {
    border-right: none !important;
}

.bm-cool-menu {
    background: none !important;
    border: none !important;
}

#bm-cool-menu-99 .bm-cool-menu li a:hover {
    color: #e97020 !important;
}
#bm-cool-menu-99 .bm-cool-menu li.active > a {
    background: none !important;
    color: #e97020;
}

/*.bm-cool-menu ul li > a:active*/

.wrapper-energo {
    position: relative;
    margin: 0px 10%;
}